@*@{
    ViewBag.Title = "Compare";
}
@using Entity
@using Utl
@using Model
@model List<MemberItem>
@Html.Partial("contenttitle","一周业绩")
@using(Html.BeginForm())
{
      @Html.Telerik().DatePicker().Name("setdate").Value(DateTime.Now);
     <span ><b>目标项目：</b>
        @Html.DropDownList("ProjectID", new SelectList(CH.GetAllData<Project>(), "ID", "Name"), "-请选择-")
      </span>
    <input type="submit"  value="提交"/>
}
@(Html.Telerik().Chart(Model).Name("chart").Title("目标 vs. 出单").Legend(legend => legend.Position(ChartLegendPosition.Top)).Series(series =>
{   series.Bar("TargetAmount").Name("目标").Labels(true);        
    series.Bar(s => s.DealsAmount).Name("出单").Labels(labels => labels.Position(ChartBarLabelsPosition.OutsideEnd)
    .Visible(true));}).CategoryAxis(axis => axis.Categories(s => s.Member.Name)).ValueAxis(axis => axis.Numeric().Labels(labels => labels.Format("${0:#,##0}"))    )   
   .HtmlAttributes(new { style = "width: 670px;" })
) *@