@using Entity
@model List<TargetOfMonth>
@Html.Partial("contenttitle", "月目标列表")
@Html.Partial("projectselector")
@(Html.Telerik().Grid(Model).Name("TargetOfMonths")
            .ToolBar(commands => commands.Custom().Text("创建月目标").Action("CreateEx", "TargetOfMonth", new { projectid = (int?)ViewBag.ProjectID }))
            .DataKeys(keys =>
            {
                keys.Add(s => s.ID);
            })
            .Columns(c =>
            {
                c.Bound(item => item.Project.Name);
                c.Bound(item => item.Deal).Width(100).Format("{0:c}").Width(100);
                c.Bound(item => item.CheckIn).Format("{0:c}").Width(100);
                c.Bound(item => item.StartDate).Format("{0:d}").Width(100);
                c.Bound(item => item.EndDate).Format("{0:d}").Width(100);
                c.Bound(item => item.ID).Title("操作").Width(200).Template(@<span> <a href=@Url.Content("~/TargetOfMonth/Edit/" + item.ID) >
                    编辑</a> | <a href=@Url.Content("~/TargetOfMonth/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/TargetOfMonth/AddBreakdown/?projectid=" + item.ProjectID + "&targetofmonthid=" + item.ID) >
                        划分创建</a> | <a href=@Url.Content("~/TargetOfMonth/delete/" + item.ID) >删除</a>
                </span>);
            })
            .Resizable(resizing => resizing.Columns(true))
            .Scrollable(scrolling => scrolling.Height(350))
                                                                                                                )
