@model Entity.CompanyType
@using Utl
@{
    ViewBag.Title = "公司"+SR.Edit;
}

<h2>@SR.Edit</h2>

@using (Html.BeginForm()) {
    Html.Partial("change", Model);
}

<div>
    @Html.ActionLink(SR.GobackToList, "Index")
</div>
