@model ProjectType
@using Entity
@using Utl
    <fieldset>
     <legend>项目类型</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
         @Html.EditorFor(model => model.Name)
         @Html.ValidationMessageFor(model => model.Name)
        </div>

    </fieldset>
    @Html.Partial("editcommon", Model)

