@using Entity
@model List<DistrictNumber>
@Html.Partial("contenttitle", "区号配置")
@(Html.Telerik().Grid<DistrictNumber>(Model).Name("DistrictNumber").ToolBar(commands => commands.Custom().Text("区域号码创建").Action("Create", "DistrictNumber"))
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.FullName).Width(200);
                    c.Bound(item => item.Description);
                    c.Bound(item => item.ID).Width(200).Title("操作").Template(@<span>
                    <a href=@Url.Content("~/DistrictNumber/Edit/" + item.ID) >编辑</a> | <a href=@Url.Content("~/DistrictNumber/Details/" + item.ID)>详细</a>  | <a href=@Url.Content("~/DistrictNumber/delete/" + item.ID) >删除</a> 
                   </span>);
                })
                .Resizable(resizing => resizing.Columns(true))
                .Filterable().Sortable().Groupable()
                .Pageable(p => p.PageSize(20))
                .Scrollable(scrolling => scrolling.Height(350))

)
