body{font-size:12px; margin:0; padding:0; font-family: Arial; background:url(../images/bj_3.gif) repeat-x;}
div,form,input,img,ul,li,dl,dt,dd,textarea,h1,p,h2,h3{ margin:0; padding:0;}
ul{ list-style-type: none;}
img{vertical-align:top; border:0; margin:0px; padding:0px;}
.clear{ clear:both; height:0; overflow:hidden}

.top{ width:95%; margin:0 auto; height:60px;}
.top_1{ float:right; padding:15px 0;}
.top_1 a{ font-size:12px; color:#f18024; padding-left:10px; text-decoration:none;}
.top_1 a:hover{color:#f18024;}
.logo{ float:right; clear:both;}



.bottom{ background:#f4a05c; clear:both;}
.bottom_2{ width:95%; margin:0 auto; padding-bottom:100px;}
.xiangmu{ height:56px; background:#f6ac71;}
.xiangmu LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 56px; PADDING-LEFT: 10px; WIDTH: 110px; PADDING-RIGHT: 0px; font-family:'微软雅黑';FLOAT: left; HEIGHT: 56px; COLOR: #a34900; FONT-SIZE: 14px; PADDING-TOP: 0px}

.yuanjiao{ height:4px; background:url(../images/yuanjiao.gif) no-repeat;font-size:1px;}
.yuanjiao_2{ height:4px; background:url(../images/yuanjiao_2.gif) no-repeat; clear:both;font-size:1px;}
.xiangmu_3{ background:#fff7f0; padding:8px 12px; overflow:hidden;zoom:1; padding-bottom:100px; width:905px;}
.xiangmu_right{ float:left; margin-left:10px; display:inline; width:700px;}
.xiangmu_right h2{ font-family:"微软雅黑"; font-size:14px; color:#d76000; padding-bottom:10px;}
.xiangmu_right li{ float:left; width:300px; line-height:30px; color:#7e6958;}
.anniu{ margin-top:7px;}
.anniu li{ width:96px; height:31px; float:left;background:url(../images/anniu_1.gif) no-repeat; text-align:center; line-height:28px; margin-right:5px;}
.anniu li a{ color:#fff; text-decoration:none;}
.anniu li a:hover{ color:#fff;}

.anniu_2{ padding-top:7px;clear:both;  font-size:12px; padding-left:80px;_margin-left:-280px;}
.anniu_2 li{ width:96px; height:31px; float:left;background:url(../images/anniu_2.gif) no-repeat; text-align:center; line-height:28px; margin-right:5px;}
.anniu_2 li a{ color:#fff; text-decoration:none;}
.anniu_2 li a:hover{ color:#fff;}



/*menu*/
#nav { width:930; display:block; clear:both; padding-top:30px; overflow:hidden; zoom:1; font-family:"微软雅黑"; font-size:14px;}
#nav .jquery_inner {margin-left:0;}
#nav .jquery {margin-right:1px;padding:0 2em;}
#nav .mainlevel {float:left;padding:0 8px;/*IE6 only*/}
#nav .mainlevel a {color:#675144; text-decoration:none; line-height:32px; display:block; padding:0 8px;}
#nav .mainlevel a:hover {color:#fff; text-decoration:none; background:#062723 url(../images/slide-panel_03.png) 0 0 repeat-x;}
#nav .mainlevel ul {display:none; position:absolute;}
#nav .mainlevel li {border-top:1px solid #fff; background:#ef6b00; padding:0 0px;/*IE6 only*/}
#nav .mainlevel li a{ color:#fff;}

 input[type=submit]{ background:url(/images/tijiaoanniu.jpg) no-repeat; width:62px; height:26px; border:none; color:#fff;} 

/*字母分配*/
.zimu_left{ float:left; width:200px;}
.zimu_left h2{ font-family:"微软雅黑"; font-size:14px; color:#d76000; padding-bottom:10px;}
.zimu_left li{ float:left; width:34px; height:17px; background:url(../images/bj_4.gif); text-align:center; line-height:17px; border:1px solid #f5cdab; margin-right:5px; color:#d96a10; margin-bottom:5px;}
.zimu_right li{ float:left; width:34px; height:17px; background:url(../images/bj_4.gif); text-align:center; line-height:17px; border:1px solid #f5cdab; margin-right:5px; color:#d96a10; margin-bottom:5px;}

.zimu_right{ float:left; width:650px; margin-left:20px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#d96a10; font-size:14px;}
.zimu_right dt{ clear:both; padding-bottom:10px; }
.zimu_right dl{ width:70px; text-align:right; float:left; line-height:30px;}
.zimu_right dd{  width:520px; float:left; margin-left:10px; display:inline; font-size:12px;}
.zimu_right dd textarea{ width:500px; border:1px solid #feead7; background:#fff; padding:5px;}


body{ margin:0; padding:0;}
div,form,input,img,ul,li,dl,dt,dd,textarea,h1,p,h2,h3{ margin:0; padding:0;}
ul{ list-style-type: none;}
img{vertical-align:top; border:0;}


.quan{ width:100%; border-bottom:1px solid #b6b6b6; float:left;}
.quan_1{ margin-bottom:15px; overflow:hidden; color:#a8a8a8; font-size:12px; font-family:"微软雅黑";padding-top:15px; padding-left:20px;}
.quan_2{ width:33px;float:left; text-align:center;}
.quan_3{ width:66px;background:url(../images/quan-02.jpg) no-repeat 5px 10px; float:left; text-align:center; height:37px;}
.quan_5{ float:left; width:323px;}
.quan_4{ width:100%; padding-top:5px; float:left;}
.left{ float:left; width:35%; padding-left:2%;}
.left_1{ float:left; font-family:"微软雅黑"; font-size:14px; width:70%; overflow:hidden;}
.left_1 p a{ color:#0000ff; text-decoration:none;}
.left_1 p a:hover{ color:#0000ff;text-decoration:none;}
.left_2{ float:right; width:20%;}
.left_2 img{ padding-left:10px;}
.left_3{ padding-top:20px; clear:both;}
.left_4{ font-family:"微软雅黑"; font-size:16px; font-weight:bold; color:#e5830b;}
.left_5{ font-family:"微软雅黑"; font-size:12px; color:#7f7f7f; padding-top:10px; }
.left_5 img{ padding-left:5px;}
.left_6{ padding-top:5px;}
.left_6 li{ font-family:"微软雅黑"; font-size:12px; font-weight:bold; color:#949494;  padding-left:0px; padding-top:7px; padding-right:50px; line-height:24px;}
.left_6 li a{ font-size:10px; font-family:"宋体"; color:#72b62a; font-weight:normal; text-decoration:none;}
.left_6 li a:hover{ font-size:10px; font-family:"宋体"; color:#72b62a; font-weight:normal;text-decoration:none;}
.left_6 h2{ font-family:"微软雅黑"; font-size:14px; font-weight:bold; color:#949494;}
.left_6 h2 img{ padding-left:5px;}

.center{ float:left; width:20%; background:#e1f3fa; overflow:hidden;}
.center_1{ font-size:14px; line-height:24px; font-family:"微软雅黑"; height:20%; background:#a6dff6;padding:5px 5px; color:#fff;}
.center_1 h2{ font-size:12px; font-family:"宋体"; font-weight:normal;}
.center_1 h2 a{color:#fff; text-decoration:none;}
.center_1 h2 a:hover{color:#fff; text-decoration:none;}
.center_1 dl{ height:20%; overflow:hidden;}
.center_1 dd{ float:left;}
.center_1 dt{ float:left;}
.center_1 dt img{ float:left; margin-top:4px; padding-right:10px;}

.center_2{ font-size:12px; line-height:24px; font-family:"微软雅黑"; height:20%; padding:5px 5px; color:#1997ca; border-bottom:1px solid #aadcf1;}
.center_2 dl{ height:20%; overflow:hidden;}
.center_2 dd{ float:left;}
.center_2 dt{ float:left;}
.center_2 dt img{ float:left; margin-top:4px; padding-right:10px;}
.center_2 h2{ font-size:10px; font-family:"宋体"; font-weight:normal;}
.center_2 h2 a{color:#1997ca; text-decoration:none;}
.center_2 h2 a:hover{color:#1997ca; text-decoration:none;}


.right{ float:left; width:43%;}
.right_1{ margin:10px; line-height:24px;font-family:"微软雅黑"; font-size:12px; color:#b8b8b8; border-bottom:1px solid #72b62a; padding-bottom:10px;}
.right_1 h2{ font-family:"微软雅黑"; font-size:12px; font-weight:bold; color:#b8b8b8;}
.right_1 span{ font-family:"微软雅黑"; font-size:12px; color:#72b62a;}

.right_2{ margin:10px; line-height:24px;font-family:"微软雅黑"; font-size:12px; color:#b8b8b8; border-bottom:1px solid #00bcec; padding-bottom:10px;}
.right_2 h2{ font-family:"微软雅黑"; font-size:12px; font-weight:bold; color:#b8b8b8;}
.right_2 span{ font-family:"微软雅黑"; font-size:12px; color:#00bcec;}

.right_3{ margin:10px 30px; line-height:24px;font-family:"微软雅黑"; font-size:12px; color:#b8b8b8; border-bottom:1px solid #ff0000; padding-bottom:10px;}
.right_3 h2{ font-family:"微软雅黑"; font-size:12px; font-weight:bold; color:#b8b8b8;}
.right_3 span{ font-family:"微软雅黑"; font-size:12px; color:#ff0000;}


.dierye{ float:left; width:40%; overflow:hidden;}
.dierye_1{ margin:10px 0px;font-family:"微软雅黑"; font-size:16px; color:#585656; font-weight:bold;}
.dierye_1 img{ float:right}
.dierye_2{ margin:0 30px; padding-top:20px;}
.dierye_2_1 textarea{ width:100%; height:100px;}
.dierye_2_2{ float:right;}
.dierye_2_2 input{ padding:3px 10px; margin-top:5px;}
.dierye_3{ margin:0 30px; clear:both; padding-top:20px;}
.dierye_3 td, .dierye_3 tr { border:0; vertical-align:top;}
.dierye_3_1{font-family:"微软雅黑"; font-size:12px; color:#77923b;width:100%}
.dierye_3_1 dt{ float:left;}
.dierye_3_1 dd{ float:right; padding-right:20px;}
.dierye_3_1 dd img{ border:3px solid #ccc;}
.dierye_3_2{ clear:both; padding:20px 0; overflow:hidden;font-family:"微软雅黑"; font-size:12px; color:#807f7f;width:100%; text-align:right}
.dierye_3_2 dl{ width:100%}
.dierye_3_2 dt{ float:left;width:100%}
.dierye_3_2 dd{ float:left; padding-right:20px;}
.dierye_3_2 dd img{ border:3px solid #ccc;}