<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
@{
    Layout = null;
    ViewBag.Title = "登陆";
}
@model  Entity.LogOnModel
@using (Html.BeginForm())
{
<body>
<div class="logo"><img src="/images/logo.jpg" width="929" height="191" alt="logo" /></div>
<div class="login">
  <div class="login_2">
	<h2>决策者销售系统</h2>
    <dl>
    	<dt>用户名：</dt>
        <dd>  @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)</dd>
    </dl>
    <dl>
   	  <dt>密　码：</dt>
      <dd> @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
        <a href="#">忘记密码</a></dd>
    </dl>
    <dl>
   	  <dt>&nbsp;</dt>
      <dd class="login_3"><input type="submit"  id="submit" value="" style="background: url('/images/denglu.gif') no-repeat top left;
                            border-width: 0px;" /></dd>
    </dl>
    </div>
</div>
</body>
}
</html>