@using Entity
@using Utl
@model List<Template>
@{ViewBag.Title = "模版列表";}     
@Html.Partial("contenttitle", "一般模版")
@(Html.Telerik().Grid<Template>(Model).Name("Template").ToolBar(commands => commands.Custom().Text("模版创建").Action("Create", "Template"))
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Name).Width(200);
                    c.Bound(item => item.Content).Template(@<span>@Utl.ShortText(item.Content, 100)</span>);
                    c.Bound(item => item.TemplateType.Name).Width(100);
                    c.Bound(item => item.ID).Title("操作").Width(200).Template(@<span> <a href=@Url.Content("~/Template/Edit/" + item.ID) >
                        编辑</a> | <a href=@Url.Content("~/Template/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/Template/delete/" + item.ID) >
                            删除</a> </span>);    })
                .Resizable(resizing => resizing.Columns(true))
                .Filterable().Sortable().Groupable()
                .Pageable(p => p.PageSize(20))
                .Scrollable(scrolling => scrolling.Height(350))

)
