body{font-size:12px; margin:0; padding:0; font-family: Arial; background:url(../images/bj_3.gif) repeat-x;}
div,form,input,img,ul,li,dl,dt,dd,textarea,h1,p,h2,h3{ margin:0; padding:0;}
ul{ list-style-type: none;}
img{vertical-align:top; border:0; margin:0px; padding:0px;}
.clear{ clear:both; height:0; overflow:hidden}

.top{ width:95%; margin:0 auto; height:60px;}
.top_1{ float:right; padding:15px 0;}
.top_1 a{ font-size:12px; color:#f18024; padding-left:10px; text-decoration:none;}
.top_1 a:hover{color:#f18024;}
.logo{ float:right; clear:both;}



.bottom{ background:#f4a05c; clear:both;}
.bottom_2{ width:95%; margin:0 auto; padding-bottom:100px;}
.xiangmu{ height:56px; background:#f6ac71;}
.xiangmu LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 56px; PADDING-LEFT: 10px; WIDTH: 110px; PADDING-RIGHT: 0px; font-family:'微软雅黑';FLOAT: left; HEIGHT: 56px; COLOR: #a34900; FONT-SIZE: 14px; PADDING-TOP: 0px}

.yuanjiao{ height:4px; background:url(../images/yuanjiao.gif) no-repeat;font-size:1px;}
.yuanjiao_2{ height:4px; background:url(../images/yuanjiao_2.gif) no-repeat; clear:both;font-size:1px;}
.xiangmu_3{ background:#fff7f0; padding:8px 12px; overflow:hidden;zoom:1; padding-bottom:100px; width:905px;}
.xiangmu_right{ float:left; margin-left:10px; display:inline; width:700px;}
.xiangmu_right h2{ font-family:"微软雅黑"; font-size:14px; color:#d76000; padding-bottom:10px;}
.xiangmu_right li{ float:left; width:300px; line-height:30px; color:#7e6958;}
.anniu{ margin-top:7px;}
.anniu li{ width:96px; height:31px; float:left;background:url(../images/anniu_1.gif) no-repeat; text-align:center; line-height:28px; margin-right:5px;}
.anniu li a{ color:#fff; text-decoration:none;}
.anniu li a:hover{ color:#fff;}

.anniu_2{ padding-top:7px;clear:both;  font-size:12px; padding-left:80px;_margin-left:-280px;}
.anniu_2 li{ width:96px; height:31px; float:left;background:url(../images/anniu_2.gif) no-repeat; text-align:center; line-height:28px; margin-right:5px;}
.anniu_2 li a{ color:#fff; text-decoration:none;}
.anniu_2 li a:hover{ color:#fff;}



/*menu*/
#nav { width:930; display:block; clear:both; padding-top:30px; overflow:hidden; zoom:1; font-family:"微软雅黑"; font-size:14px;}
#nav .jquery_inner {margin-left:0;}
#nav .jquery {margin-right:1px;padding:0 2em;}
#nav .mainlevel {float:left;padding:0 8px;/*IE6 only*/}
#nav .mainlevel a {color:#675144; text-decoration:none; line-height:32px; display:block; padding:0 8px;}
#nav .mainlevel a:hover {color:#fff; text-decoration:none; background:#062723 url(../images/slide-panel_03.png) 0 0 repeat-x;}
#nav .mainlevel ul {display:none; position:absolute;}
#nav .mainlevel li {border-top:1px solid #fff; background:#ef6b00; padding:0 0px;/*IE6 only*/}
#nav .mainlevel li a{ color:#fff;}

 input[type=submit]{ background:url(/images/tijiaoanniu.jpg) no-repeat; width:62px; height:26px; border:none; color:#fff;} 

/*字母分配*/
.zimu_left{ float:left; width:200px;}
.zimu_left h2{ font-family:"微软雅黑"; font-size:14px; color:#d76000; padding-bottom:10px;}
.zimu_left li{ float:left; width:34px; height:17px; background:url(../images/bj_4.gif); text-align:center; line-height:17px; border:1px solid #f5cdab; margin-right:5px; color:#d96a10; margin-bottom:5px;}
.zimu_right li{ float:left; width:34px; height:17px; background:url(../images/bj_4.gif); text-align:center; line-height:17px; border:1px solid #f5cdab; margin-right:5px; color:#d96a10; margin-bottom:5px;}

.zimu_right{ float:left; width:650px; margin-left:20px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#d96a10; font-size:14px;}
.zimu_right dt{ clear:both; padding-bottom:10px; }
.zimu_right dl{ width:70px; text-align:right; float:left; line-height:30px;}
.zimu_right dd{  width:520px; float:left; margin-left:10px; display:inline; font-size:12px;}
.zimu_right dd textarea{ width:500px; border:1px solid #feead7; background:#fff; padding:5px;}
