@model Entity.Client
@using Utl
@{
    ViewBag.Title = "客户"+SR.Edit;
}


@using (Html.BeginForm()) {
   @Html.Partial("change", Model)
}

<div>
    @Html.ActionLink(SR.GobackToList, "Index")
</div>