@model Entity.Client
@using Utl
@{
    ViewBag.Title = "客户"+SR.Edit;
}


@using(Html.BeginForm("Edit","Client",null,FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
   @Html.Partial("change", Model)
}

<div>
    @Html.ActionLink(SR.GobackToList, "Index")
</div>