@model Entity.Company
@using Utl
@{
    ViewBag.Title = "公司" + SR.Details;
}

@Html.Partial("display",Model)
<p>
    @Html.ActionLink(SR.Edit, "Edit", new { id=Model.ID }) |
    @Html.ActionLink(SR.GobackToList, "Index")
</p>