@using Entity
@using Sales.Model

@{
    var projectid = ViewBag.projectid;
    var coreid = ViewBag.coreid;

    List<SelectListItem> lists = new List<SelectListItem>();
    var listitem = new SelectListItem();
    listitem.Value = "1";
    listitem.Text = "打了一个的公司";
    lists.Add(listitem);
    listitem = new SelectListItem();
    listitem.Value = "2";
    listitem.Text = "打了两个的公司";
    lists.Add(listitem);
    listitem = new SelectListItem();
    listitem.Value = "3";
    listitem.Text = "打了三个以上的公司";
    lists.Add(listitem);
    listitem = new SelectListItem();
    listitem.Value = "0";
    listitem.Text = "没打的公司";
    lists.Add(listitem);
}
<div>

已打 @Html.DropDownList("list", lists, "请选择", new { onchange = "onListChange();" })
</div>
@(Html.Telerik().Grid<_CoreCoverage>().Name("CoreCoverage")
     .DataBinding(dataBinding =>
     {
         dataBinding.Ajax().Select("_CoreCoverage", "AvaliableCompanies", new { projectid = projectid, coreid = coreid, ismembercompany = 1 });
     })
              .ClientEvents(events => events.OnDataBinding("dataBinding").OnRowDataBound("onRowDataBound"))
        .Columns(columns =>
        {
            columns.Bound(p => p.CompanyName).Title("名称").Width(80).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.CategoryString).Title("细分行业").Width(60).HtmlAttributes(new { style = "text-align:left" });
            
            columns.Bound(p => p.ProcessName).Title("成熟度").Width(80).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.DispMember).Title("在打销售").Width(60).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.LeadCalledCount).Title("打过Lead数").Width(60).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.LeadTitles).Title("打过lead的职位").Width(80).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.DispTime).Title("领用时间").Width(60).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.DispSales).Title("之前领用销售").Width(60).HtmlAttributes(new { style = "text-align:left" });
            
        })
            .Pageable(p => p.Style(GridPagerStyles.Status)
               .PageOnScroll(true).PageSize(25))
                   .Scrollable(scrolling => scrolling.Height(600)).Sortable().Resizable(r => r.Columns(true)).Filterable()
                       )

     @(Html.Telerik().Grid<_PickUpList>().Name("PickUpList")
     .DataBinding(dataBinding =>
     {
         dataBinding.Ajax().Select("_PickUpList", "AvaliableCompanies", new { projectid = projectid, coreid = coreid });
     }) .ClientEvents(events => events.OnRowDataBound("onPickUpRowDataBound"))
        .Columns(columns =>
        {
            columns.Bound(p => p.Sales).Title("姓名").Width(80).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.FirstWeekCount).Title("领用1周公司数").Width(80).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.SecondWeekCount).Title("领用2周公司数").Width(60).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.ThirdWeekCount).Title("领用3周公司数").Width(60).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.FourthWeekCount).Title("领用4周以上公司数").Width(60).HtmlAttributes(new { style = "text-align:left" });
        })
            .Pageable(p => p.Style(GridPagerStyles.Status)
               .PageOnScroll(true).PageSize(25))
                   .Scrollable(scrolling => scrolling.Height(600)).Sortable().Resizable(r => r.Columns(true)).Filterable()
                       )
@(Html.Telerik().Window().Title("详细")
    .Name("pickupdetail")
    .Content(@<text><div class="dialogue-pickupdetail">
        <div class="pickupdetail-wrapper">
        </div>
        
    </div></text>)
        .Width(1000)
        .Height(520)
                .Modal(true).Visible(false).Draggable(true)
    )
    <script>
        var clicked = false;
        function dataBinding(e) {
            if (clicked) {
                var typeid = $('#list').val();
                e.data = $.extend(e.data, { typeid: typeid });
            }


        }
        function refreshGrid() {
            clicked = true;
            $("#CoreCoverage").data("tGrid").rebind();

        }
        function onListChange() {

            refreshGrid();
        }
        function onRowDataBound(e) {
            var row = e.row;
            var dataItem = e.dataItem;
            if (dataItem.DealCount > 0)
                row.cells[0].innerHTML = "<div width='100%' style='background-color:lightgreen'>" + dataItem.CompanyName + "</div>";
            row.cells[5].innerHTML = "<div width='100%' style='word-wrap:break-word;' >" + dataItem.LeadTitles + "</div>";
        }
        function onPickUpRowDataBound(e) {
            var row = e.row;
            var dataItem = e.dataItem;
            var sales = "'" + dataItem.Sales + "'";
            row.cells[1].innerHTML = "<div width='100%' style='word-wrap:break-word;cursor:pointer' onclick=showdetail(" + sales + "," + dataItem.coreid + ",1)>" + dataItem.FirstWeekCount + "</div>";
            row.cells[2].innerHTML = "<div width='100%' style='word-wrap:break-word;cursor:pointer' onclick=showdetail(" + sales + "," + dataItem.coreid + ",2)>" + dataItem.SecondWeekCount + "</div>";
            row.cells[3].innerHTML = "<div width='100%' style='word-wrap:break-word;cursor:pointer' onclick=showdetail(" + sales + "," + dataItem.coreid + ",3)>" + dataItem.ThirdWeekCount + "</div>";
            row.cells[4].innerHTML = "<div width='100%' style='word-wrap:break-word;cursor:pointer' onclick=showdetail(" + sales + "," + dataItem.coreid + ",4)>" + dataItem.FourthWeekCount + "</div>";
        }
        function showdetail(sales,coreid,index) {
            var currentProjectId = $('#projectid').val();
            $.post('GetPickUpDetail', { projectId: currentProjectId,coreid:coreid,sales:sales,index:index }, function (result) {
                $('.pickupdetail-wrapper').html(result);
                var window = $('#pickupdetail').data('tWindow');
                window.center().open();
            });
           
        }
    </script>