@using Entity
@using Sales.Model
@model CompanyRelationship
<ul>
    <li>
        <textarea style="border:1px solid black;width:100%;height:440px;" name="Description">@Model.Description</textarea>
    </li>
</ul>
