@using Entity
@using Sales.Model
@model _AvaliableCompanies


<div class="memberCompanies">
    @(Html.Telerik().TreeView().Name("memberCompanies").HtmlAttributes(new { style = "" })
                .ClientEvents(e => e.OnSelect("onIndexSelect"))
        .BindTo(Model.MemberCompanies, mappings =>
        {
            mappings.For<_CoreLVL>(binding => binding
            .ItemDataBound((item, core) =>
            {
                item.Text = core.CoreNameDisplayText;
                item.Value = core.ID.ToString();
            })
            .Children(core => core._Maturitys));

            mappings.For<_Maturity>(binding => binding
            .ItemDataBound((item, maturity) =>
            {
                item.Text = maturity.DisplayName;
                item.Value ="m: "+ maturity.ID.ToString();
            })
            .Children(maturity => maturity._CRMs));
            
            mappings.For<_CRM>(binding => binding
          .ItemDataBound((item, crm) =>
          {
              item.Text = crm.CompanyName;
              item.Value = crm.ID.ToString();
          }));
        })
) 
</div>
<script>
    //var count=0
    //公司选择
    function onIndexSelect(e) {
        var nv = $('#memberCompanies').data('tTreeView');
        var clickedvalue = nv.getItemValue(e.item);
        if (crmid != clickedvalue)
            gleadid = "";
        crmid = clickedvalue;
<<<<<<< .mine
        if (gleadid == "" || gleadid == undefined) {
            $.post('_SelectedCRMNode', { crmid: crmid }, function (result) {
                $('#crmdetailscontainer').html(result);
            });
        }
        else {
            $.post('GetCRMByCrmIDLeadID', { crmid: crmid, leadid: gleadid }, function (result) {
                $('#crmdetailscontainer').html(result);
                var leaddiv = $('#lead' + gleadid);
                leaddiv.removeClass('center_2');
                leaddiv.addClass('center_1');
            });
        }
//        $.post('_SelectedCRMNode', { crmid: clickedvalue }, function (result) {
//            $('#crmdetailscontainer').html(result);
//        });
=======
        gleadid = "";
        if (clickedvalue.indexOf('m') < 0) {
            $.post('_SelectedCRMNode', { crmid: clickedvalue }, function (result) {
                $('#crmdetailscontainer').html(result);
            });
        }
>>>>>>> .r1158
    }
</script>