
@using Entity
@using Utl
@model Deal
<fieldset>
<legend>参会公司</legend>
<table width="100%">
<tr>
<td>公司名称：@Html.DisplayFor(m=>m.CompanyRelationship.Company.Name)</td>
<td>公司总机：@Html.DisplayFor(m=>m.CompanyRelationship.Company.Contact)</td>
<td>公司传真：@Html.DisplayFor(m=>m.CompanyRelationship.Company.Fax)</td>
</tr>
<tr>
<td>签单客户：@Html.DisplayFor(m=>m.Committer)</td>
<td>联系方式：@Html.DisplayFor(m=>m.CommitterContect)</td>
<td>联系邮箱：@Html.DisplayFor(m=>m.CommitterEmail)</td>
</tr>
</table>

</fieldset>
<div class="participantContainer">
@Html.Partial("ParticipantContainer", Model)
</div>
@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> 
        onModifyParticipantPageLoad();
    </text>);
}