@model Entity.EntityBase
@using Utl
@{
    ViewBag.Title = SR.Create;
}
<h2>
    创建表单</h2>
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    @Html.Partial("change", Model)
    @Html.Partial("editcommon", Model)
    <div>
        <center>
            <input type="submit" value=@SR.Save />
            @Html.ActionLink(SR.GobackToList, "Index")
        </center>
    </div>
}
