@model Entity.Research
@using Utl
@{
    ViewBag.Title = SR.Details;
}

<fieldset>

    @Html.Partial("change", Model)
</fieldset>
<p>
    @Html.ActionLink(SR.Edit, "Edit", new { id = Model.ID }) |
    @Html.ActionLink(SR.GobackToList, "Index")
</p>
