@model Entity.EntityBase
@using Utl
@{
    ViewBag.Title = SR.Details;
}

<h2>表单详细</h2>
@Html.Partial("display", Model)

@Html.Partial("displaycommon", Model)
<center>
<p>
    @Html.ActionLink(SR.Edit, "Edit", new { id = Model.ID }) 
   @* @Html.ActionLink(SR.GobackToList, "Index")*@
</p>
</center>