@using Entity
@using Utl
@using (Html.BeginForm((string)ViewBag.Action, (string)ViewBag.Controller, (object)ViewBag.RouteValue))
{
    <div style="margin: 10px; margin-left: 0px;">
        <b><span>
            <label> 开始时间：</label>
            @Html.Telerik().DatePicker().Name("StartDate").Value(ViewBag.StartDate as string)
            <span>~ </span>
            <label>
                结束时间：</label>
            @Html.Telerik().DatePicker().Name("EndDate").Value(ViewBag.EndDate as string)
            <span>  </span>
            <input type="submit" value="提交" />
        </span></b>
    </div>
}
<style type="text/css">
    span label 
    {
        line-height: 25px;
    }
    
    input[type=submit]
    {
    	 min-width:75px;   margin-left:15px;
   }
</style>
