@using Entity
@using Utl
@model Participant

<div class="editparticipant">
    <div class="messageparticipant">
        @Html.Partial("PageMessage", string.Empty)
    </div>
    <div>
        <center>
            <table style="width:100%;">
                <tr>
                    <td>
                        客户名称：@Html.TextBoxFor(m => m.Name)<font style="color: Red">*</font>
                    </td>
                    <td>
                        客户职位：@Html.TextBoxFor(m => m.Title)
                    </td>
                    <td>
                        客户性别：@Html.DropDownListFor(m => m.Gender, new SelectList(new List<string>() { "Mr", "Mrs" }, "-请选择-"))
                    </td>
                </tr>
                <tr>
                    <td>
                        移动电话：@Html.TextBoxFor(m => m.Mobile)
                    </td>
                    <td>
                        电子邮箱：@Html.TextBoxFor(m => m.Email)
                    </td>
                    <td>
                        客户直线：@Html.TextBoxFor(m => m.Contact)
                    </td>
                </tr>
                <tr>
                    <td>
                        参会类型：@Html.DropDownListFor(m => m.ParticipantTypeID, new SelectList(CH.GetAllData<ParticipantType>(), "ID", "Name"), "-请选择-")<font
                            style="color: Red">*</font>
                    </td>
                    <td>
                        国内邮编：@Html.TextBoxFor(m => m.ZIP)<font style="color: Red">*</font>
                    </td>
                    <td>
                        国内地址：@Html.TextBoxFor(m => m.Address)<font style="color: Red">*</font>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    @Html.HiddenFor(m => m.ProjectID)
    @Html.HiddenFor(m => m.DealID)
    @Html.HiddenFor(m => m.ID)
    <center>
        <input type="button" id="savebtn" value=" 更改 " /><input type="button" id="deletebtn" value=" 删除 " /></center>
</div>
