
@using Entity
@using Utl
@using BLL
@{
   
   var selectedangels = ViewBag.SelectedAngels as List<string>;
   ViewBag.ShowSubmit = "false";

        using (Html.BeginForm())
        {
       @Html.Partial("MultipleProjectSelectNode")
       @Html.Partial("YearAndMonthSelector")

    
    
    <fieldset><legend>选择维度</legend>
      <ul class="progress" >
      <li >
       <span > <input type="checkbox"  

          @if (selectedangels != null && selectedangels.Contains("week"))
          {
              <text>checked="checked" </text>
          }
        name="selectedangels"   value="week" /> 周数据</span>
      </li>

      <li >
       <span > <input type="checkbox"  

          @if (selectedangels != null && selectedangels.Contains("month"))
          {
              <text>checked="checked" </text>
          }
        name="selectedangels"   value="month" /> 月数据</span>
      </li>

    @*  <li >
       <span > <input type="checkbox"  

          @if (selectedangels != null && selectedangels.Contains("total"))
          {
              <text>checked="checked" </text>
          }
        name="selectedangels"   value="total" /> 月比较数据</span>
      </li>*@
     
      </ul>
      </fieldset>
    
    <center>
     <input type="submit" value="提交" />
     </center>
       
    }
}



    <style>
        
       ul.progress {list-style-type:none; float:inherit; width:100%; overflow:auto;}
       	ul.progress li{float:left; width:23%; margin:2px;}
       	ul.progress li span {line-height:11px; height:11px;  vertical-align:middle}
    </style>