@using Entity
@using Utl
@using BLL
@using (Html.BeginForm())
{
<div  style="margin:10px; margin-left:0px;">
        <span ><b>目标项目：</b>
        @Html.DropDownList("ProjectID", new SelectList(CRM_Logical.GetSalesInvolveProject(), "ID", "ProjectCode"), "-请选择-", new { onchange = "this.form.submit();" })
        </span>
       </div>
}