@using Entity
@using Sales.Model
@model _CRM
<ul>
    <li>
          
           @if (@Model._members.Where(m => m.Name == Utl.Employee.CurrentUserName).Count() > 0)
          {
            <textarea style="border:1px solid black;width:100%;height:440px;" name="Competitor3">@Model.Competitor</textarea>
          }
          else
          {
              if (Utl.Employee.CurrentRole.Level == ManagerRequired.LVL || Utl.Employee.CurrentRole.Level == LeaderRequired.LVL)
              {
            <textarea style="border:1px solid black;width:100%;height:440px;" name="Competitor3"  readonly="readonly" >@Model.Competitor</textarea>
              }
              else
              {
            <textarea style="border:1px solid black;width:100%;height:440px;" name="Competitor3">@Model.Competitor</textarea>
              }
          }
    </li>
</ul>
