@using Entity
@using Sales.Model
@model CompanyRelationship
<ul>
    <li>
        @if (Utl.Employee.CurrentRole.Level == ManagerRequired.LVL || Utl.Employee.CurrentRole.Level == LeaderRequired.LVL)
          {
            <textarea style="border:1px solid black;width:100%;height:440px;" name="Description" readonly="readonly">@Model.Description</textarea>
          }
        else
        {
            <textarea style="border:1px solid black;width:100%;height:440px;" name="Description">@Model.Description</textarea>
          }
    </li>
</ul>
