@using Utl;
@model Entity.PackageType
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">
       英文名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name_EN)
    </div>
    <div class="display-label">
       中文名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name_CH)
    </div>
</fieldset>
