@using Entity
@model List<OnPhoneBlockType>
@(Html.Telerik().Grid<OnPhoneBlockType>(Model).Name("OnPhoneBlockType")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Name).Width(200);
                    c.Bound(item => item.Code).Width(100);
                    c.Bound(item => item.Description);
                    c.Bound(item => item.ID).Title("操作").Width(200).Template(@<span> <a href=@Url.Content("~/OnPhoneBlockType/Edit/" + item.ID) >
                        编辑</a> | <a href=@Url.Content("~/OnPhoneBlockType/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/OnPhoneBlockType/delete/" + item.ID) >
                            删除</a> </span>);
                })
                                            .Resizable(resizing => resizing.Columns(true))
                                            .Filterable().Sortable().Groupable()
                                            .Pageable(p => p.PageSize(20))
                                            .Scrollable(scrolling => scrolling.Height(350))

                            )
@Html.ActionLink("创建", "Create")
