@using Entity
@using Utl
@model List<Lead>
@(Html.Telerik().Grid<Lead>(Model).Name("Lead")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Name_EN).Width(150);
                    c.Bound(item => item.Name_CH).Width(150);
                    c.Bound(item => item.Title.Name_CH).Width(200);
                    c.Bound(item => item.Contact).Width(150);
                    c.Bound(item => item.ID).Title("操作").Template(@<span> <a href=@Url.Content("~/Lead/Edit/" + item.ID) >
                        编辑</a> | <a href=@Url.Content("~/Lead/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/Lead/delete/" + item.ID) >
                            删除</a> </span>);
                })
                                            .Resizable(resizing => resizing.Columns(true))
                                            .Groupable()
                                            .Pageable(p => p.PageSize(20))
                                            .Sortable()
                                            .Filterable()
                                            .Scrollable(scrolling => scrolling.Height(350))
                        )
<p>请在公司页面下添加客户</p>
