@using Utl;
@model Entity.Research
<fieldset>
    <legend>@SR.Form</legend>
   

   <div class="display-label">公司名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">调研内容</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contents)
    </div>
</fieldset>


