@model Entity.EntityBase
@using Utl
@{
    ViewBag.Title = SR.Delete;
}
<h2>表单删除</h2>
@Html.Partial("display", Model)
@Html.Partial("displaycommon", Model)
@using (Html.BeginForm())
{
    <center>
    <p>
        <input type="submit" value=@SR.Delete /> @* |
        @Html.ActionLink(SR.GobackToList, "Index")*@
    </p>
    </center>
}