@model Entity.EntityBase
@using Utl
@{
    ViewBag.Title = SR.Details;
}

<fieldset>

    @Html.Partial("display", Model)
</fieldset>
<center>
<p>
    @Html.ActionLink(SR.Edit, "Edit", new { id = Model.ID }) |
    @Html.ActionLink(SR.GobackToList, "Index")
</p>
</center>