@model Entity.EntityBase
@using Utl
@{
    ViewBag.Title = SR.Edit;
}
<h2>
    编辑表单</h2>
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    @Html.Partial("change", Model)
     @Html.Partial("EditCommon", Model)
    <div>
    <center>
     <input type="submit" value=@SR.Save />
       @* @Html.ActionLink(SR.GobackToList, "Index")*@
    </center>
</div>
}

