@using Entity
@model List<LeadCall>
@using Utl
@if (Model != null && Model.Count > 0)
{
    <fieldset>
        <legend>Call List</legend>
        @{Html.Telerik().PanelBar().Name("lcs"+Model.FirstOrDefault().CompanyRelationshipID)
   .Items(panes =>
   {
       foreach (var leadcall in Model)
       {
           var l = leadcall;
           panes.Add().Text(leadcall.LeadCallType.Name + " " + Utl.ShortText(leadcall.Result,100)).Content(@<text>
            @GetCall(l)
            </text>);
       }
   }).Render();
        }
        @helper GetCall(LeadCall call)
            {
            <div class="singleleadcallcontainer">
                @Html.Partial("SingleLeadCall", call)
            </div>
   
        }
    </fieldset>
}
