@using Entity
@using Utl
@model List<Participant>
<center>
<div >
@if (Model != null && Model.Count > 0)
{ 
 @(Html.Telerik().PanelBar().Name("p").Items(childs =>
{
    foreach (var p in Model)
    {
        var t = p as object;
        childs.Add().Text(p.Name + "  " + p.Title + "   " + p.Contact).Content(@<text>@RenderChild(t as Participant)</text>);
    }
})
)
}  
</div>
</center>

@helper RenderChild(Participant i)
{
    <div>
    @{
    @Html.Partial("ParticipantInfo", i);
        }
    </div>
}
