@{
 
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div>
  <div style="width:88%; float:right; ">
        	@RenderBody()
        </div>
     
		 <div style="width:15%; float:left; position:fixed;  margin-left:0px; margin-top:200px; ">
         @(Html.Telerik().Menu().Name("Menudirector").HtmlAttributes(new { style = "width:150px;" })
         .Orientation(MenuOrientation.Vertical).Items(menu =>
     {
         menu.Add().Text("出单入账").Items(item =>
         {
             item.Add().Text("销售").Url("~/DirectorReport/DealGroupBySales");
             item.Add().Text("项目").Url("~/DirectorReport/DealGroupByProject");
         });
         menu.Add().Text("通话情况").Items(item =>
         {
             item.Add().Text("销售");
             item.Add().Text("项目");
         });
         menu.Add().Text("公司客户").Items(item =>
         {
             item.Add().Text("公司");
             item.Add().Text("客户");
         });
     }))
        </div>
     
        </div>