@{
    ViewBag.Title = "销售人员周进度表";
    Layout = "~/Views/DirectorReport/Master.cshtml";
}
@using Model
@using Utl;
@using BLL;
<fieldset>
<legend>销售人员周进度表</legend>
项目 @Html.DropDownList("ProjectID", SelectHelper.ProjectSelectList(Employee.CurrentUserName), "请选择", new { onchange = "onProjectChange();" })
 项目类型 @Html.DropDownList("ProjectType", SelectHelper.ProjectTypeSelectList(), "请选择", new { onchange = "onProjectTypeChange();" })
   板块负责人 @Html.DropDownList("Manager",CRM_Logical._Reports.GetProjectsManager(),"请选择", new { onchange = "onManagerChange();" })
@(
    Html.Telerik().Grid<AjaxMemberProjectsProgressByWeek>().Name("ProjectWeekPerformance")
         .DataBinding(dataBinding =>
         {
             dataBinding.Ajax().Select("MemberProjectsProgressByWeek", "DirectorReport");
         })
             .ClientEvents(events => events.OnDataBinding("dataBinding").OnDataBound("OnDataBound"))
        .Columns(columns =>
        {
            columns.Bound(p => p.Member).Width(150).Title("业务员").HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.ProjectUnitName).Width(150).Title("项目名").HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.LastWeekDealInTarget).Width(100).Title("上周业绩目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
                .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.LastWeekDealIn).Width(100).Title("上周业绩").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
                .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.LastWeekDealInPercent).Width(100).Title("完成率").HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}").FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.LastWeekCheckInTarget).Width(100).Title("上周入账目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
                .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.LastWeekCheckIn).Width(100).Title("上周入账").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
                .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.CheckInLastWeekPercent).Width(100).Title("完成率").HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}").FooterHtmlAttributes(new { style = "text-align:right" });

            columns.Bound(p => p.CurrentWeekDealInTarget).Width(100).Title("本周业绩目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
                .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.CurrentWeekDealIn).Width(100).Title("本周业绩").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
                .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.CurrentWeekDealInPercent).Width(100).Title("完成率").HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}").FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.CurrentWeekCheckInTarget).Width(100).Title("本周入账目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
                .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.CurrentWeekCheckIn).Width(100).Title("本周入账").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
                .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.CheckInWeekPercent).Width(100).Title("完成率").HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}").FooterHtmlAttributes(new { style = "text-align:right" });
            
        }
        )
             .Pageable(p => p.Style(GridPagerStyles.Status)
                       .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(480)).Resizable(r => r.Columns(true))
        .HtmlAttributes(new { style = "max-width:1150px" })
)

</fieldset>

<script>
    var clicked = false;
    function dataBinding(e) {
        if (clicked) {
            var typeid = $('#ProjectType').val();
            var manager = $('#Manager').val();
            var projectid = $('#ProjectID').val();
            e.data = $.extend(e.data, { projectid: projectid, typeid: typeid, manager: manager });
        }
    }
    function OnDataBound(e) {
        var CurrentMonthDealInTargetTotal = $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(2).text();
        //CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replaceall(',', '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/,/g, '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/￥/g, '');
        var CurrentMonthDealInTotal = $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(3).text();
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/,/g, '');
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/￥/g, '');
        if (CurrentMonthDealInTargetTotal > 0)
            $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(4).text((CurrentMonthDealInTotal / CurrentMonthDealInTargetTotal * 100).toFixed(0) + '%');

        var CurrentMonthDealInTargetTotal = $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(5).text();
        //CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replaceall(',', '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/,/g, '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/￥/g, '');
        var CurrentMonthDealInTotal = $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(6).text();
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/,/g, '');
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/￥/g, '');
        if (CurrentMonthDealInTargetTotal > 0)
            $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(7).text((CurrentMonthDealInTotal / CurrentMonthDealInTargetTotal * 100).toFixed(0) + '%');

        CurrentMonthDealInTargetTotal = $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(8).text();
        //CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replaceall(',', '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/,/g, '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/￥/g, '');
        CurrentMonthDealInTotal = $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(9).text();
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/,/g, '');
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/￥/g, '');
        if (CurrentMonthDealInTargetTotal > 0)
            $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(10).text((CurrentMonthDealInTotal / CurrentMonthDealInTargetTotal * 100).toFixed(0) + '%');

        CurrentMonthDealInTargetTotal = $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(11).text();
        //CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replaceall(',', '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/,/g, '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/￥/g, '');
        CurrentMonthDealInTotal = $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(12).text();
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/,/g, '');
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/￥/g, '');
        if (CurrentMonthDealInTargetTotal > 0)
            $('#ProjectWeekPerformance').find('.t-footer-template').children().eq(13).text((CurrentMonthDealInTotal / CurrentMonthDealInTargetTotal * 100).toFixed(0) + '%');
    }
    function refreshGrid() {
        clicked = true;
        $("#ProjectWeekPerformance").data("tGrid").rebind();

    }
    function onProjectTypeChange() {

        refreshGrid();
    }
    function onManagerChange() {
        refreshGrid();
    }
    function onProjectChange() {
        refreshGrid();
    }
</script>