@model Entity.Progress
@using Utl

<fieldset>
    <legend>Progress</legend>

    <div class="display-label">成熟度名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>
</fieldset>

