@{
    ViewBag.Title = "我的出单";
}

@using Entity
@model List<Deal>

@Html.Partial("contenttitle", "我的出单")

@(Html.Telerik().Grid<Deal>(Model).Name("Deal").ToolBar(t=>t.Template(@<text>@Html.Partial("projectselector")</text>))
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.CompanyRelationship.Company.FullName).Title("客户名称").Width(150);
                    c.Bound(item => item.Package.FullName).Width(150);
                    c.Bound(item => item.Payment).Width(100).Format("{0:c}");
                    c.Bound(item => item.Income).Width(90).Format("{0:c}");
                    c.Bound(item => item.IsClosed).Width(70);
                    c.Bound(item => item.Abandoned).Width(70);
                    c.Bound(item => item.ExpectedPaymentDate).Format("{0:d}").Width(90);
                    c.Bound(item => item.ActualPaymentDate).Format("{0:d}").Width(100);
                    c.Bound(item => item.ID).Title("操作").Template(@<span>
                    <a href=@Url.Content("~/sales/EditDeal/?id=" + item.ID+"&projectid="+(int)ViewBag.ProjectID) >编辑</a> | <a href=@Url.Content("~/sales/DisplayDeal/?id=" + item.ID + "&projectid=" + (int)ViewBag.ProjectID)>详细</a>  
                   </span>);
                })
                                        .Resizable(resizing => resizing.Columns(true))
                                        .Filterable().Sortable().Groupable()
                                        .Pageable(p => p.PageSize(20))
                                        .Scrollable(scrolling => scrolling.Height(350))

)

