@{
    ViewBag.Title = "客户公司的致电记录列表";
}

@using Entity
@model List<LeadCall>
@Html.Partial("contenttitle", "致电记录")           
@(Html.Telerik().Grid<LeadCall>(Model.OrderByDescending(o => o.CreatedDate).ToList()).Name("LeadCall").ToolBar(commands => commands.Custom().Text("创建致电记录").Action("AddLeadCall", "Sales"))
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Lead.FullName).Width(150);
                    c.Bound(item => item.Creator).Title("致电销售");
                    c.Bound(item => item.CreatedDate).Title("致电时间");
                    c.Bound(item => item.LeadCallType.Name);
                    c.Bound(item => item.CallBackDate);
                    c.Bound(item => item.ID).Title("操作").Template(@<span> <a href=@Url.Content("~/Sales/EditLeadCall/" + item.ID) ></span>);
                })
                .Resizable(resizing => resizing.Columns(true))
                .Filterable().Sortable().Groupable()
                .Pageable(p => p.PageSize(20))
                .Scrollable(scrolling => scrolling.Height(350))

)
