@model Sales.Model._TeamLeadPerformance
@{
    Layout = null;
}

<fieldset>
<legend>目标完成情况</legend>

<div id="filter-container" style="height: 30px;">
    <span>
    <label style="margin:7px;float: left;">月份:</label>
    @Html.DropDownList("month", new SelectList(new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 }, ViewData["month"]), new { style = "margin:5px;float: left;", onchange = "this.form.submit();" })
    </span>
</div>


<table class="info">
    <tr>
        <td><span>当月目标：@{ if(Model.Target != null){<text>@Model.Target</text>}}</span></td>
        <td><span>当月入账总额：@Model.CheckIn</span></td>
        <td><span>目标完成百分比：@Model.CompletePercent</span></td>
    </tr>
    <tr>
        <td><span>每周的出单数：@Model.DealsCountString</span></td>
        <td><span>每周的lead添加数:@Model.LeadAddCountString </span></td>
        <td><span>每周的faxout数：@Model.FaxOutCountString</span></td>
    </tr>
</table>

</fieldset>