@using Entity
@using Utl
@model Model.AjaxViewSaleCompany
<ul>
    <li>
        <label>
            主营业务</label><p style="border:1px solid black; min-height:80px;">@Model.Business</p>
    </li>
    <li>
        <label>
            公司概况</label>
        <p  style="border:1px solid black;  min-height:80px;">@Model.Desc</p>
    </li>
</ul>
