@using Entity
@using Utl
@model Model.AjaxViewSaleCompany
<ul>
    <li>
        <label>
            公司介绍
            </label>
        <p  style="border:1px solid black;  min-height:150px;">@Model.Desc</p>
    </li>
</ul>
