@using Entity
@using Model
@model AjaxCrmTypedList
<div id="crmdfavorsscontainer">
   @Html.Partial("FavorsCRM", Model.CustomCrmGroups)
  

</div>
<div>
    @(Html.Telerik().TreeView()
                .Name("navigationView").ExpandAll(true)
        .ClientEvents(e=>e.OnSelect("onIndexSelect"))
                .BindTo(Model.AllCRMs, mappings =>
        {
            mappings.For<AjaxCRM>(binding => binding
                    .ItemDataBound((item, ajaxCRM) =>
                    {
                        item.Text = ajaxCRM.DisplayText;
                        item.Value = ajaxCRM.CRMID.ToString();
                    })
                    .Children(company => company.AjaxLeads));

            mappings.For<AjaxLead>(binding => binding
                    .ItemDataBound((item, Lead) =>
                    {
                        item.Text = Lead.DisplayText;
                        item.Value = Lead.CRMID.ToString()+","+ Lead.LeadID.ToString();
                    }));
        })
) 
</div>