@{
    ViewBag.Title = "进度表";
}
@using Entity;
@using Utl
@using Model
<br />
@(Html.Telerik().Grid<AjaxViewProject>().Name("ViewProjectProgressAmount").DataKeys(keys =>
                {
                    keys.Add(s => s.ProjectID);
                }).Columns(c =>
                {
                    c.Bound(item => item.ProjectName).FooterTemplate(@<text>总数：</text>);
                    c.Bound(item => item.StartDayString);
                    c.Bound(item => item.EndDayString);
                    c.Bound(item => item.Manager);
                    c.Bound(item => item.Lead);
                    c.Bound(item => item.ProjectTarget);
                    c.Bound(item => item.TotalCheckIn).Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn总额: <#= Sum #></p>");
                    c.Bound(item => item.TotalDealIn).Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn总额: <#= Sum #></p>");
                    c.Bound(item => item.ComplatePercetage).ClientTemplate("<p><#= ComplatePercetage #>%</p>");
                    c.Bound(item => item.TotalCalls).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>Call总数: <#= Sum #></p>");
                    c.Bound(item => item.TotalCompanysCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>可打公司总数: <#= Sum #></p>");
                    //c.Bound(item => item.TotalLeadsCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>可打Lead总数: <#= Sum #></p>");
                })
                .DataBinding(d=>d.Ajax().Select("_Progress", "report"))
                .Resizable(resizing => resizing.Columns(true))
                .Pageable(p=>p.PageOnScroll(true).PageSize(30))
                  .Scrollable(scrolling => scrolling.Height(250)))
)