@using Utl;
@model Entity.PaymentType
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">行业类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>

