@{
    ViewBag.Title = "AccountIndex";
}
@model List<MembershipUser>

@using Utl
@using Entity

@(Html.Telerik().Grid<MembershipUser>(Model).Name("MembershipUser")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.UserName);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.UserName).Width(200);
                    c.Bound(item => item.Email).Width(200);
                    c.Bound(item => item.IsOnline).Width(100);
                    c.Bound(item => item.UserName).Template(@<span>
                        @Employee.GetProfile("Department",item.UserName)
                    </span>).Width(100).Title("Department");
                    c.Bound(item => item.IsOnline).Width(100);
                    c.Bound(item => item.UserName).Title("职级").Width(200).Template(@<span>
                     @Employee.GetRoleName(item.UserName)
                    </span>);
                   // c.Bound(item => ).Width(100);
                    c.Bound(item => item.UserName).Title("操作").Template(@<span> 
                    <a href=@Url.Content("~/Account/Details/?name=" + item.UserName) >个人信息</a> 
                     @if (Employee.AsDirector())
                     {
                      <span> | </span><a href=@Url.Content("~/Account/SetRoleLevel/?name=" + item.UserName)>设置职级</a>
                     }
                  
                  | <a href=@Url.Content("~/Account/delete/" + item.UserName) >
                            删除</a> </span>);
                })
                                            .Resizable(resizing => resizing.Columns(true))
                                            .Filterable().Sortable().Groupable()
                                            .Pageable(p => p.PageSize(20))
                                            .Scrollable(scrolling => scrolling.Height(350))

                            )
@Html.ActionLink("创建", "register")


