@using Entity
@model List<Category>
@(Html.Telerik().Grid<Category>(Model).Name("Category")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Name).Width(200);
                    c.Bound(item => item.Description).Width(300);
                    c.Bound(item => item.ID).Width(200).Title("操作").Template(@<span>
                    <a href=@Url.Content("~/Category/Edit/" + item.ID) >编辑</a> | <a href=@Url.Content("~/Category/Details/" + item.ID)>详细</a>  | <a href=@Url.Content("~/Category/delete/" + item.ID) >删除</a> 
                   </span>);
                 })
                .Resizable(resizing => resizing.Columns(true))
                .Filterable().Sortable().Groupable()
                .Pageable(p => p.PageSize(20))
                .Scrollable(scrolling => scrolling.Height(350))
              
)

@Html.ActionLink("行业类型创建", "Create")