@using Utl;
@model Entity.LeadType
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">
        类型名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@Html.Partial("displaycommon", Model)
