@{
    ViewBag.Title = "AddCompanyToCoreList";
}
@using Entity
@using Utl
@model List<Company>
@Html.Hidden("projectid",(int)ViewBag.ProjectID)
@using (Html.BeginForm())
{
<br />
<span>
@(
 @Html.Telerik().ComboBox().Name("fullname").BindTo(new SelectList(Model, "FullName", "FullName"))
)
<p>  </p>
<input type="submit" style="line-height:22px; " value="  提交  " />
</span>
}
@(Html.Telerik().Grid(Model.FindAll(c => c.Projects.Any(p => p.CoreList.Any(pc => pc.ID == (int)ViewBag.ProjectID)))).Name("corelist").DataKeys(dk => dk.Add(s => s.ID))
.Columns(c => {
    c.Bound(item => item.FullName).Width(200);
    c.Bound(item => item.Areas).Width(300);
})
     .Resizable(resizing => resizing.Columns(true))
                    .Filterable().Sortable()
                    .Pageable(p => p.PageSize(20))
                    .Scrollable(scrolling => scrolling.Height(350))
)

