@{
    ViewBag.Title = "Compare";
}
@using Entity
@using Utl
@using(Html.BeginForm())
{
    Html.Telerik().DatePicker().Name("setdate").Value(DateTime.Now);
     <span ><b>目标项目：</b>
        @Html.DropDownList("ProjectID", new SelectList(CH.GetAllData<Project>(), "ID", "Name"), "-请选择-")
      </span>
    <input type="submit"  value="提交"/>
}
@(
Html.Telerik().Chart(Model).Name("chart").Title("目标 vs 出单").Visible(true)
.Legend(legend => legend.Position().Visible(true))
.SeriesDefaults(series =>{series.Bar().Stack(ViewBag.Stack);       
    series.Column().Stack(ViewBag.Stack);        
    series.Line().Labels(labels => labels.Format("${0:#,##0}").Visible(true)).Stack(ViewBag.Stack);
})    .Series(series => {
    if (ViewBag.SeriesType == "bar"){
        series.Bar("RepSales").Name("Rep. Sales");            
        series.Bar(s => s.TotalSales).Name("Total Sales");}        
    else if (ViewBag.SeriesType == "column")        
    {   series.Column("RepSales").Name("Rep. Sales");            
        series.Column(s => s.TotalSales).Name("Total Sales");        
    }        
    else       
    {            
        series.Line("RepSales").Name("Rep. Sales").Markers(markers => markers.Type(ChartMarkerShape.Circle));
        series.Line(s => s.TotalSales).Name("Total Sales");        }    }).CategoryAxis(axis => axis 
            .Categories(s => s.DateString)    ) .ValueAxis(axis => axis.Numeric().Labels(labels => labels.Format("${0:#,##0}"))) .Tooltip(tooltip => tooltip.Visible(true).Format("${0:#,##0}"))
            .HtmlAttributes(new { style = "width: 600px; height: 400px;" })
)