@using Entity
@using Utl;
@model List<Participant>
@Html.Partial("contenttitle", "参会人列表")
@{ViewBag.Title = "参会人列表";}
@using (Html.BeginForm())
{
    <div style="margin: 10px; margin-left: 0px;">
        <span><b>目标项目：</b>
            @{
    var ps = CH.GetAllData<Project>(p => p.Conference == Employee.GetLoginUserName() && p.IsActived);
    var selected = ps.Count == 0 ? 0 : ps.FirstOrDefault().ID;
                @Html.DropDownList("ProjectID", new SelectList(ps, "ID", "ProjectCode"), "全部", new { onchange = "this.form.submit();" })
            }
        </span>
    </div>
}
@(Html.Telerik().Grid<Participant>(Model).Name("Participant").ToolBar(commands => commands
                               .Custom().Text("导出").Action("ExportParticipant", "Project", new { projectid = (int?)ViewBag.ProjectID })
        )
.DataKeys(keys => { keys.Add(s => s.ID); }).Columns(c =>
{
    c.Bound(item => item.Project.Name).Width(400);
    c.Bound(item => item.Name);
    c.Bound(item => item.ParticipantType.Name);
    c.Bound(item => item.Title);
    c.Bound(item => item.Gender);
    c.Bound(item => item.Contact);
    c.Bound(item => item.Mobile);
    c.Bound(item => item.Email);
}).Resizable(resizing => resizing.Columns(true))
.Filterable().Sortable().Groupable().Scrollable(scrolling => scrolling.Height(350))
    )
