@model Entity.CompanyType
@using Utl
@{
    ViewBag.Title = "公司类型" + SR.Create;
}
<h2>@SR.Create</h2>
@using (Html.BeginForm())
{
    Html.Partial("change", Model);
}
<div>
    @Html.ActionLink(SR.GobackToList, "Index")
</div>
