@using Entity
@using Utl
@model List<Company>
@Html.Partial("contenttitle", "公司列表") 
@(Html.Telerik().Grid(Model).Name("Company").ToolBar(commands => commands.Custom().Text("公司创建").Action("Create", "Company"))
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.FullName).Width(150);
                    c.Bound(item => item.Area.FullName).Title("行业").Width(100);
                    c.Bound(item => item.Available).Width(80);
                    c.Bound(item => item.Contact).Width(100);
                    c.Bound(item => item.CompanyType.Name).Width(100);
                    c.Bound(item => item.Cerator).Width(70);
                    c.Bound(item => item.From).Width(70);
                    c.Bound(item => item.ID).Title("操作").Width(150).Template(@<span>
                    <a href=@Url.Content("~/Company/Edit/" + item.ID) >编辑</a> | <a href=@Url.Content("~/Company/Details/" + item.ID)>详细</a>  | <a href=@Url.Content("~/Lead/Create/?from=company&CompanyId=" + item.ID)>添加客户</a>| <a href=@Url.Content("~/Company/delete/" + item.ID) >删除</a> 
                   </span>);
                })
                .DetailView(e => e.Template(
                        @<text>
                         @RenderGrid(item.Leads, item.ID)
                        </text>
                    ))
                .Resizable(resizing => resizing.Columns(true))
                .Groupable()
                .Pageable(p => p.PageSize(20))
                .Sortable()
                .Filterable()
                .Scrollable(scrolling => scrolling.Height(350))
                        )


@helper RenderGrid(List<Lead> Leads, int companyuid)
    { 
     @(Html.Telerik().Grid(Leads).Name("Leads" + companyuid)
                            .Columns(c =>
                            {
                                c.Bound(o => o.FullName).Width(150);
                                c.Bound(o => o.Title).Width(150);
                                c.Bound(o => o.EMail).Title("电子邮箱").Width(150);
                                c.Bound(o => o.Fax).Title("传真").Width(150);
                                c.Bound(o => o.Contact).Width(150);

                                c.Bound(item => item.ID).Title("操作").Width(150).Template(@<span>
                    <a href=@Url.Content("~/lead/Edit/?from=company&id=" + item.ID) >编辑</a> | <a href=@Url.Content("~/lead/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/Company/delete/" + item.ID) >删除</a> 
                   </span>);
                            })
                                               .Resizable(resizing => resizing.Columns(true))
                                               .Pageable(p => p.PageSize(20))
                                               .Sortable())
} 
