@using Entity
@model List<TargetOfMonthForMember>
@Html.Partial("contenttitle", "个人月目标")
@using (Html.BeginForm())
{
    <div style="margin: 10px; margin-left: 0px;">
        <span><b>目标项目：</b>
            @{
    var accessright = ViewBag.Right as string;
    List<Project> ps;

    if (!string.IsNullOrEmpty(accessright))
    {
        ps = BLL.CRM_Logical.GetUserProjectRight(accessright);
    }
    else
    {
        ps = BLL.CRM_Logical.GetUserInvolveProject();
    }
    var selected = ViewBag.ProjectID ?? 0;
                @Html.DropDownList("projectid", new SelectList(ps, "ID", "ProjectCode", (int)selected), new { onchange = "this.form.submit();" })
            }
        </span>
    </div>
}
@(Html.Telerik().Grid<TargetOfMonthForMember>(Model).Name("TargetOfMonthForMember")
    .ToolBar(commands => commands.Insert().ImageHtmlAttributes(new { style = "margin-left:0" }))
    .DataKeys(keys => { keys.Add(s => s.ID); }).DataBinding(dataBinding => dataBinding.Server()
        .Select("MyTargetIndexEx", "TargetOfMonthForMember", new { projectid = ViewBag.ProjectID })
        .Insert("Insert", "TargetOfMonthForMember")
        .Update("Save", "TargetOfMonthForMember")
                .Delete("Deleted", "TargetOfMonthForMember")).Columns(c =>
        {
            c.Bound(item => item.Project.Name);
            c.Bound(item => item.Deal).Width(100);
            c.Bound(item => item.CheckIn).Width(100);
            c.Bound(item => item.StartDate).Width(100);
            c.Bound(item => item.EndDate).Width(100);
            c.Bound(item => item.Member.Name).Width(100);
            c.Template(item => (item.IsConfirm == true) ? "是" : "否").Title("是否确认").Width(100);
            c.Command(commands => { commands.Edit(); commands.Delete(); }).Title("操作").Width(200);
        })
.Resizable(resizing => resizing.Columns(true)).Editable(editing => editing.Mode(GridEditMode.PopUp))
.Filterable().Sortable().Groupable().Pageable(p => p.PageSize(20)).Scrollable(scrolling
=> scrolling.Height(350)))
