@using Utl;
@model Entity.CurrencyType
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">类型名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">换算汇率</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>
</fieldset>

