@using Utl;
@model Entity.CurrencyType
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">货币类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@Html.Partial("displaycommon", Model)

