@model Entity.Progress
@using Utl

<fieldset>
    <legend>Progress</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>

