@{
    ViewBag.Title = "项目出单";
    ViewBag.ShowDuration = "false";
}
@using Entity
@using Model
@model List<AjaxViewDeal>
@using Utl;
@{
    <fieldset>
   <legend>出单查询</legend>
     单号 @Html.TextBox("dealcode")
   公司名称 @Html.TextBox("CompanyName")
       <input type="button" title="查找" name="查找" value="查找" style=" width: 67px; height: 21px;" onclick="refreshGrid()" />
    @(Html.Telerik().Grid<AjaxViewDeal>().Name("Deal")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .DataBinding(b => b.Ajax().Select("_AllIndex", "Deal"))
                .ClientEvents(events => events.OnDataBinding("dataBinding"))
                .Columns(c =>
                {
                    //c.Bound(item => item.ID);//客户公司
                    c.Bound(item => item.CompanyName);//客户公司
                    c.Bound(item => item.ProjectCode);//项目编号
                    c.Bound(item => item.DealCode);//出单号
                    c.Bound(item => item.PackageName);//Package中文名
                    c.Bound(item => item.Committer);//客户签单人
                    c.Bound(item => item.Sales);//权益描述
                    c.Bound(item => item.Role);//权益描述
                    c.Bound(item => item.DispParticipantTypeName);//权益描述
                    c.Bound(item => item.SignDate).Format("{0:d}");//签约日期
                    c.Bound(item => item.ExpectedPaymentDate).Format("{0:d}");//合约付款日期
                    //c.Bound(item => item.Payment).Format("{0:c}").Aggregate(a => a.Sum()).ClientFooterTemplate("<#= $.telerik.formatString('{0:c}', Sum) #>");//应付款
                    c.Bound(item => item.RMBPayment).Title("RMB应付款").Width(100).Format("{0:￥#,##0}").Aggregate(aggregates => aggregates.Sum()).ClientFooterTemplate("<p>RMB应付款: ￥<#= $.telerik.formatString('{0:n0}', Sum) #></p>").ClientGroupFooterTemplate("<p>RMB应付款: ￥<#= $.telerik.formatString('{0:n0}', Sum) #></p>");
                    c.Bound(item => item.USDPayment).Title("USD应付款").Width(100).Format("{0:$#,##0}").Aggregate(aggregates => aggregates.Sum()).ClientFooterTemplate("<p>USD应付款: $<#= $.telerik.formatString('{0:n0}', Sum) #></p>").ClientGroupFooterTemplate("<p>USD应付款: $<#= $.telerik.formatString('{0:n0}', Sum) #></p>");
                    c.Bound(item => item.ActualPaymentDate).Format("{0:d}");//实际付款日期
                    c.Bound(item => item.Income).Format("{0:c0}");//实际入账
                    c.Bound(item => item.ModifiedDate);
                    c.Bound(item => item.TicketDescription).Width(200);
                }
    )
.Resizable(resizing => resizing.Columns(true))

.Pageable(p => p.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(100))
.Scrollable(scrolling => scrolling.Height(450))
)
</fieldset>   
}
<script>
    var clicked = false;
    function dataBinding(e) {
//        if (clicked) {
            var dealcode = $('#dealcode').val();
            var companyname = $('#CompanyName').val();

            e.data = $.extend(e.data, { dealcode: dealcode, companyname: companyname });
//        }
//        else
//            e.preventDefault();

    }
    function refreshGrid() {
        clicked = true;
        $("#Deal").data("tGrid").rebind();

    }
</script>