@{
    ViewBag.Title = "项目出单";
    ViewBag.ShowDuration = "false";
}

@using Entity
@using Model
@model List<AjaxViewDeal>

@Html.Partial("contenttitle", "项目出单")

@Html.Partial("multipleprojectselector")
@{
    var pls = ViewBag.SelectedProjects as List<int>;
    var sid = Utl.Utl.ConvertSelectProjectIDtoString(pls);
    string plsstring = string.Empty;
    
@(Html.Telerik().Grid<AjaxViewDeal>().Name("Deal")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.CompanyName).Title("客户名公司").Width(150);
                    c.Bound(item => item.Sales).Width(70);
                    c.Bound(item => item.PackageName).Title("Package").Width(150);
                    c.Bound(item => item.Payment).Format("{0:c}").Aggregate(aggregates => aggregates.Sum()).ClientFooterTemplate("<p>应收款: <#= Sum #></p>");
                    c.Bound(item => item.Income).Format("{0:c}").Aggregate(aggregates =>aggregates.Sum()) .ClientFooterTemplate("<p>已收款: <#= Sum #></p>");
                    c.Bound(item => item.IsClosed).Width(70);
                    c.Bound(item => item.Abandoned).Width(70);
                    c.Bound(item => item.TicketDescription);
                    c.Bound(item => item.SignDate).Format("{0:d}").Width(100);
                    c.Bound(item => item.ExpectedPaymentDate).Format("{0:d}").Width(100);
                    c.Bound(item => item.ActualPaymentDate).Format("{0:d}").Width(100);
                    c.Bound(item => item.ProjectCode);
                    c.Bound(item => item.ID).Width(160).Title("操作").ClientTemplate("<span><a href="+Url.Content("~/Deal/Edit/")+"<#= ID #> >编辑</a> | <a href="+Url.Content("~/Deal/Details/"+"<#= ID #>>详细</a>  | <a href="+Url.Content("~/Deal/delete/")+"<#= ID #> >删除</a></span>"));
                }
                ).DataBinding(b => b.Ajax().Select("_Index", "Deal", new { sp =sid}))
                .DetailView(d => d.ClientTemplate(
                Html.Telerik().Grid<AjaxViewParticipant>().Name("mastersheet<#= ID #>").DataKeys(keys =>
            {
                keys.Add(s => s.ID);
            }) .DataBinding(dataBinding => dataBinding.Ajax().Select("_ParticipantsInDeal", "Deal", new { dealID = "<#= ID #>" }))
                .Columns(c =>
                {
                    c.Bound(o => o.Name);
                    c.Bound(o => o.Title);
                    c.Bound(o => o.Gender);
                    c.Bound(o => o.ParticipantTypeName).Title("参会类型");

                }).Resizable(resizing => resizing.Columns(true))
                                        .Filterable().Sortable().Groupable()
                                                                .Pageable(p=>p.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(100))
                                        .Scrollable(scrolling => scrolling.Height(150)
                                       ).ToHtmlString()))
                                                                .Resizable(resizing => resizing.Columns(true))
                                                                .Filterable().Sortable().Groupable()
                                                                                        .Pageable(p => p.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(100))
                                                                .Scrollable(scrolling => scrolling.Height(350))

                                            )

    }

