@{
    ViewBag.Title = "我的出单";
}

@using Entity
@model List<Deal>
@(Html.Telerik().Grid<Deal>(Model).Name("Deal")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Lead.FullName).Width(150);
                    c.Bound(item => item.Project.Name).Width(150);
                    c.Bound(item => item.Package.FullName).Width(150);
                    c.Bound(item => item.Payment).Width(150);
                    c.Bound(item => item.Income).Width(150);
                    c.Bound(item => item.IsClosed).Width(50);
                    c.Bound(item => item.Abandoned).Width(50);
                    c.Bound(item => item.ExpectedPaymentDate).Template(@<text>@item.ExpectedPaymentDate.Value.ToShortDateString()</text>).Width(150);
                    c.Bound(item => item.ActualPaymentDate).Template(@<text>@item.ExpectedPaymentDate!=null?@item.ExpectedPaymentDate.Value.ToShortDateString():@string.Empty</text>).Width(150);
                    c.Bound(item => item.ID).Width(200).Title("操作").Template(@<span>
                    <a href=@Url.Content("~/Category/Edit/" + item.ID) >编辑</a> | <a href=@Url.Content("~/Category/Details/" + item.ID)>详细</a>  | <a href=@Url.Content("~/Category/delete/" + item.ID) >删除</a> 
                   </span>);
                })
                                        .Resizable(resizing => resizing.Columns(true))
                                        .Filterable().Sortable().Groupable()
                                        .Pageable(p => p.PageSize(20))
                                        .Scrollable(scrolling => scrolling.Height(350))

                        )

@Html.ActionLink("创建", "Create")
