@*@using Utl;
@model Entity.Title
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">行业类型中文名</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name_CH)
    </div>
    <div class="display-label">行业类型英文名</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name_EN)
    </div>
</fieldset>

*@