@using Entity
@(Html.Telerik().Grid<Title>().Name("Title")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Name_CH).Width(200);
                    c.Bound(item => item.Name_EN).Width(200);
                    c.Bound(item => item.Description).Width(300);
                    c.Bound(item => item.ID).Title("操作").Template(@<span> <a href=@Url.Content("~/Title/Edit/" + item.ID) >
                        编辑</a> | <a href=@Url.Content("~/Title/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/Title/delete/" + item.ID) >
                            删除</a> </span>);
                })
                                            .Resizable(resizing => resizing.Columns(true))
                                            .Filterable().Sortable().Groupable()
                                            .Pageable(p => p.PageSize(20))
                                            .Scrollable(scrolling => scrolling.Height(350))

                            )
@Html.ActionLink("创建", "Create")

