@model Entity.Company
@using Utl
@{
    ViewBag.Title = "Delete";
}

@Html.Partial("display", Model)
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value=@SR.Delete /> |
        @Html.ActionLink(SR.GobackToList, "Index")
    </p>
}
