@{
    ViewBag.Title = "销售入账情况统计";
    Layout = "~/Views/DirectorReport/Master.cshtml";
}
@using Sales.Model
@model IQueryable<_DealBySales>
<form id="form" > 
@Html.Partial("yearandmonthselector")
 </form>
@if (Model.Count()>0)
{
<div class="reportdiv" style=" ">
@(Html.Telerik().Grid<_DealBySales>(Model.OrderByDescending(o=>o.IncomeAmount)).Name("persale")
                .Columns(c =>
                {
                    //c.Bound(item => item.Year).Width(100);
                    //c.Bound(item => item.Month).Width(80);
                    c.Bound(item => item.Sales).Width(100);
                    c.Bound(item => item.ProjectName).Width(200);
                    c.Bound(item => item.IncomeAmount).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" }).Width(100);
                    c.Bound(item => item.DealAmount).Width(100).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
                    c.Bound(item => item.PercentString).Width(100).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
                    c.Bound(item => item.TotalIncomeAmount).Width(100).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
                })
                .Resizable(resizing => resizing.Columns(true)).Sortable()
                .Scrollable(scrolling => scrolling.Height(650))

)

</div>
}
<script>
    $(document).ready(function () {
        $('#Year,#Month').change(function () {

            $('#form').submit();
        });
    });
</script>
<style>
    .reportdiv
    {
    	width:80%;
    	padding:20px;
     }
</style>