@{
    ViewBag.Title = "Master";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div>
  <div style="width:82%; float:right; ">
        	@RenderBody()
        </div>
		 <div style="width:15%; float:left; position:fixed; ">
         @(Html.Telerik().Menu().Name("Menudirector").HtmlAttributes(new { style = "width:150px;" })
         .Orientation(MenuOrientation.Vertical).Items(menu =>
     {
         menu.Add().Text("出单入账").Items(item =>
         {
             item.Add().Text("销售").Url("~/DirectorReport/DealGroupBySales");
             item.Add().Text("项目").Url("~/DirectorReport/DealGroupByProject");
         });
         menu.Add().Text("通话情况").Items(item =>
         {
             item.Add().Text("销售").Url("~/TotalApprove/index");
             item.Add().Text("项目").Url("~/CategoryApprove/index");
         });
         menu.Add().Text("公司客户").Items(item =>
         {
             item.Add().Text("公司").Url("~/DirectorTotal/index"); ;
             item.Add().Text("客户").Url("~/directorEfficent/index");
         });
     }))
        </div>

        </div>