@{
 
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div>

  <div style="width:88%; float:right; ">
        	@RenderBody()
        </div>
     
		 <div style="width:15%; float:left; position:fixed;  margin-left:0px; margin-top:200px; ">
         @(Html.Telerik().Menu().Name("Menudirector").HtmlAttributes(new { style = "width:150px;" })
         .Orientation(MenuOrientation.Vertical).Items(menu =>
         {
            // menu.Add().Text("上周进度分析表").Items(item =>
            //{
            //    item.Add().Text("本月项目进度统计表").Url("~/DirectorReport/ProjectsProgress");
            //    //item.Add().Text("上周项目进度统计表").Url("~/DirectorReport/ProjectsCheckInLastWeek");
            //    item.Add().Text("上周周报报表").Url("~/DirectorReport/ProjectsReportLastWeek");
                
            //});
            // menu.Add().Text("月出单入账").Items(item =>
            // {
            //     item.Add().Text("项目入账/目标总表").Url("~/DirectorReport/ProjectsCheckInByMonth");
            //     item.Add().Text("项目目标完成趋势图").Url("~/DirectorReport/ProjectsCheckInByMonthLines");
            //     item.Add().Text("员工入账/目标总表").Url("~/DirectorReport/EmployeeCheckInByMonth");
            // });
            // menu.Add().Text("本月各周出单入账").Items(item =>
            // {
            //     item.Add().Text("项目周入账趋势").Url("~/DirectorReport/ProjectsCheckInByWeek");
            //     item.Add().Text("项目上周入账统计").Url("~/DirectorReport/ProjectsCheckInLastWeek"); 
            //     item.Add().Text("员工周入账图");
            // });
            // menu.Add().Text("通话").Items(item =>
            // {
            //     item.Add().Text("入账/通话时间");
            // });
             menu.Add().Text("项目月进度表").Url("~/DirectorReport/ProjectsProgressByMonth");
             menu.Add().Text("项目周进度表").Url("~/DirectorReport/ProjectsProgressByWeek");
             menu.Add().Text("销售人员月进度表").Url("~/DirectorReport/MemberProjectsProgressByMonth");
             menu.Add().Text("销售人员周进度表").Url("~/DirectorReport/MemberProjectsProgressByWeek");
             menu.Add().Text("公司日回款明细").Url("~/DirectorReport/CompanyDailyReceivedPayment");
             menu.Add().Text("项目回款总表").Url("~/DirectorReport/ProjectsCheckInSummary");
             menu.Add().Text("销售人员回款表").Url("~/DirectorReport/SalesCheckInSummary");
             menu.Add().Text("项目总目标完成情况趋势图").Url("~/DirectorReport/ProjectChartInMonthLines");
             menu.Add().Text("销售提交月目标情况").Url("~/DirectorReport/SalesMonthTargetSummary");
             //menu.Add().Text("报表").Items(item =>
             //{
             //    item.Add().Text("项目月进度表").Url("~/DirectorReport/ProjectsProgressByMonth");
             //    item.Add().Text("项目周进度表").Url("~/DirectorReport/ProjectsProgressByWeek");
             //    item.Add().Text("销售人员月进度表").Url("~/DirectorReport/MemberProjectsProgressByMonth");
             //    item.Add().Text("销售人员周进度表").Url("~/DirectorReport/MemberProjectsProgressByWeek");
             //    item.Add().Text("公司日回款明细").Url("~/DirectorReport/CompanyDailyReceivedPayment");
             //    item.Add().Text("项目回款总表").Url("~/DirectorReport/ProjectsCheckInSummary");
             //    item.Add().Text("销售人员回款表").Url("~/DirectorReport/SalesCheckInSummary");
             //    item.Add().Text("项目总目标完成情况趋势图").Url("~/DirectorReport/ProjectChartInMonthLines");
             //    item.Add().Text("销售提交月目标情况").Url("~/DirectorReport/SalesMonthTargetSummary");
             //});
         }))
        </div>
     
        </div>