@{
    ViewBag.Title = "项目回款总表";
    Layout = "~/Views/DirectorReport/Master.cshtml";
}
@using Model
@using Utl;
@using BLL;
@{

   <fieldset>
   <legend>项目回款总表</legend>
   年份 @Html.DropDownList("Year", SelectHelper.YearSelectList(), "请选择", new { onchange = "onYearChange();" })
   项目类型 @Html.DropDownList("ProjectType", SelectHelper.ProjectTypeSelectList(), "请选择", new { onchange = "onProjectTypeChange();" })
   板块负责人 @Html.DropDownList("Manager",CRM_Logical._Reports.GetProjectsManager(),"请选择", new { onchange = "onManagerChange();" })
@(Html.Telerik().Grid<AjaxProjectsCheckInSummary>().Name("AjaxProjectProcessByMonth")
     .DataBinding(dataBinding =>
     {
         dataBinding.Ajax().Select("ProjectsCheckInSummary", "DirectorReport");
     })
    .ClientEvents(events => events.OnDataBinding("dataBinding"))
    .Columns(columns =>
    {
        columns.Bound(p => p.ProjectUnitName).Width(150).Title("项目简称").HtmlAttributes(new { style = "text-align:left" });
        columns.Bound(p => p.ConferenceStartDate).Width(85).Title("会议时间").HtmlAttributes(new { style = "text-align:left" }).Format("{0:yyyy-MM-dd}");
        
        columns.Bound(p => p.TotalCheckInTarget).Title("PDM目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInTotal).Title("合计").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        
        columns.Bound(p => p.CheckInJanuary).Title("1月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        
        columns.Bound(p => p.CheckInFebruary).Title("2月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
        .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInMarch).Title("3月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CheckInApril).Title("4月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInMay).Title("5月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CheckInJune).Title("6月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInJuly).Title("7月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInAugust).Title("8月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInSeptember).Title("9月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInOctober).Title("10月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInNovember).Title("11月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInDecember).Title("12月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
    })

                        .Pageable(p => p.Style(GridPagerStyles.Status)
                                   .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(500)).Resizable(r => r.Columns(true))
                )
</fieldset>    
  
}
<script>
    
</script>
<script>
    function dataBinding(e) {
        var typeid = $('#ProjectType').val();
        var manager = $('#Manager').val();
        var year = $('#Year').val();
        e.data = $.extend(e.data, {year:year, typeid: typeid, manager: manager });
    }
    function refreshGrid() {
       
        $("#AjaxProjectProcessByMonth").data("tGrid").rebind();

    }
    function onProjectTypeChange() {
       
        refreshGrid();
    }
    function onManagerChange() {
        refreshGrid();
    }
    function onYearChange() {
        refreshGrid();
    }
    
</script>