@{
    ViewBag.Title = "项目回款总表";
    Layout = "~/Views/DirectorReport/Master.cshtml";
}
@using Model
@using Utl;
@using BLL;
@{

   <fieldset>
   <legend>项目回款总表</legend>
   年份 @Html.DropDownList("Year", SelectHelper.YearSelectList(), "请选择", new { onchange = "onYearChange();" })
   项目类型 @Html.DropDownList("ProjectType", SelectHelper.ProjectTypeSelectList(), "请选择", new { onchange = "onProjectTypeChange();" })
   板块负责人 @Html.DropDownList("Manager",CRM_Logical._Reports.GetProjectsManager(),"请选择", new { onchange = "onManagerChange();" })
@(Html.Telerik().Grid<AjaxProjectsCheckInSummary>().Name("AjaxProjectProcessByMonth")
     .DataBinding(dataBinding =>
     {
         dataBinding.Ajax().Select("ProjectsCheckInSummary", "DirectorReport");
     })
        .ClientEvents(events => events.OnDataBinding("dataBinding").OnRowDataBound("onRowDataBound"))
    .Columns(columns =>
    {
        columns.Bound(p => p.ProjectUnitName).Width(150).Title("项目简称").HtmlAttributes(new { style = "text-align:left" });
        columns.Bound(p => p.ConferenceStartDate).Width(85).Title("会议时间").HtmlAttributes(new { style = "text-align:left" }).Format("{0:yyyy-MM-dd}");

        columns.Bound(p => p.TotalCheckInTarget).Width(100).Title("PDM目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInTotal).Width(100).Title("合计").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInJanuary).Width(100).Title("1月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInFebruary).Width(100).Title("2月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
        .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInMarch).Width(100).Title("3月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CheckInApril).Width(100).Title("4月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInMay).Width(100).Title("5月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CheckInJune).Width(100).Title("6月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInJuly).Width(100).Title("7月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInAugust).Width(100).Title("8月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInSeptember).Width(100).Title("9月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInOctober).Width(100).Title("10月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInNovember).Width(100).Title("11月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CheckInDecember).Width(100).Title("12月份").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
    })

                        .Pageable(p => p.Style(GridPagerStyles.Status)
                                   .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(480)).Resizable(r => r.Columns(true))
                )
</fieldset>    
  
}
<div id="mjs:tip" style="display:none;z-index:210000; position:absolute;background-color:#EFF7FE;" >
<table>
<tr><td>事业部总监</td><td><div id="gm"></div></td></tr>
<tr><td>项目经理</td><td><div id="projectmanager"></div></td></tr>
<tr><td>产品经理</td><td><div id="product"></div></td></tr>
<tr><td>销售经理</td><td><div id="salemanager"></div></td></tr>
<tr><td>TL</td><td><div id="teamleader"></div></td></tr>
<tr><td>赞助商销售</td><td></td></tr>
<tr><td>市场专员</td><td><div id="market"></div></td></tr>
<tr><td>会务专员</td><td><div id="conference"></div></td></tr>
<tr><td>海外销售</td><td><div id="guowaisales"></div></td></tr>
<tr><td>国内销售</td><td><div id="guoneisales"></div></td></tr>
</table>
</div>
<div id="mjs:checkininfo" style="display:none;z-index:210000; position:absolute;background-color:#EFF7FE;" >
<table>
<tr><td>第一周入账</td><td><div id="firstweek"></div></td></tr>
<tr><td>第二周入账</td><td><div id="secondweek"></div></td></tr>
<tr><td>第三周入账</td><td><div id="thridweek"></div></td></tr>
<tr><td>第四周入账</td><td><div id="forthweek"></div></td></tr>
<tr><td>第五周入账</td><td><div id="fifthweek"></div></td></tr>
</table>
</div>
<script>
    var clicked = false;
    function dataBinding(e) {
        if (clicked) {
            var typeid = $('#ProjectType').val();
            var manager = $('#Manager').val();
            var year = $('#Year').val();
            e.data = $.extend(e.data, { year: year, typeid: typeid, manager: manager });
        }
    }
    function refreshGrid() {
        clicked = true;
        $("#AjaxProjectProcessByMonth").data("tGrid").rebind();

    }
    function onProjectTypeChange() {
       
        refreshGrid();
    }
    function onManagerChange() {
        refreshGrid();
    }
    function onYearChange() {
        refreshGrid();
    }
    function doManagerOver(code) {
        var div = $("#managerinfo");
        var height = document.body.clientHeight;
        div.show();
        div.css("background-color", "#EFF7FE");
        if (event.clientY > height / 2) {
            div.css("left", document.body.scrollLeft + event.clientX + 1);
            div.css("top", document.body.scrollLeft + event.clientY + 10 - 250);
        }
        else {
            div.css("left", document.body.scrollLeft + event.clientX + 1);
            div.css("top", document.body.scrollLeft + event.clientY + 10);
        }


        $.post('GetManagerInfo', { code: code }, function (result) {
            if ((result.manager != null)) {
                $("#gm").html(result.manager);
                $("#projectmanager").html(result.manager);
                $("#product").html(result.product);
                $("#salemanager").html(result.tl);
                $("#teamleader").html(result.tl);
                $("#market").html(result.market);
                $("#conference").html(result.conference);
                $("#guoneisales").html(result.guoneisales);
                $("#guowaisales").html(result.guowaisales);

            } else {

            }
        });
    }
    function doManagerOut() {
        var div = $("#managerinfo");
        div.hide();
    }

    function doCheckInOver(code,month) {
        var div = $("#checkininfo");
        var height = document.body.clientHeight;
        div.show();
        div.css("background-color", "#EFF7FE");
        if (event.clientY > height / 2) {
            div.css("left", document.body.scrollLeft + event.clientX + 1);
            div.css("top", document.body.scrollLeft + event.clientY + 10 - 150);
        }
        else {
            div.css("left", document.body.scrollLeft + event.clientX + 1);
            div.css("top", document.body.scrollLeft + event.clientY + 10);
        }

        var year = $('#Year').val();
        $.post('GetCheckInInfo', { code: code, year: year, month: month }, function (result) {
            $("#firstweek").html(outputMoney(result.firstweek));
            $("#secondweek").html(outputMoney(result.secondweek));
            $("#thridweek").html(outputMoney(result.thirdweek));
            $("#forthweek").html(outputMoney(result.forthweek));
            $("#fifthweek").html(outputMoney(result.fifthweek));
        });
    }
    function doCheckInOut() {
        var div = $("#checkininfo");
        div.hide();
    }

    function onRowDataBound(e) {
        var row = e.row;
        var dataItem = e.dataItem;
        var code = "'" + dataItem.ProjectUnitCode + "'"
        row.cells[0].innerHTML = "<div width='100%' onmouseover=tip.start(this," + code + ") >" + dataItem.ProjectUnitName + "</div>";
        row.cells[4].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",1) >" + outputMoney(dataItem.CheckInJanuary) + "</div>";
        row.cells[5].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",2) >" + outputMoney(dataItem.CheckInFebruary) + "</div>";
        row.cells[6].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",3) >" + outputMoney(dataItem.CheckInMarch) + "</div>";
        row.cells[7].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",4) >" + outputMoney(dataItem.CheckInApril) + "</div>";
        row.cells[8].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",5) >" + outputMoney(dataItem.CheckInMay) + "</div>";
        row.cells[9].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",6) >" + outputMoney(dataItem.CheckInJune) + "</div>";
        row.cells[10].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",7) >" + outputMoney(dataItem.CheckInJuly) + "</div>";
        row.cells[11].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",8) >" + outputMoney(dataItem.CheckInAugust) + "</div>";
        row.cells[12].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",9) >" + outputMoney(dataItem.CheckInSeptember) + "</div>";
        row.cells[13].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",10) >" + outputMoney(dataItem.CheckInOctober) + "</div>";
        row.cells[14].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",11) >" + outputMoney(dataItem.CheckInNovember) + "</div>";
        row.cells[15].innerHTML = "<div width='100%' onmouseover=checkintip.start(this," + code + ",12) >" + outputMoney(dataItem.CheckInDecember) + "</div>";
    }
    function outputMoney(s) {
        if (s == 0)
            return "￥0";
        if (/[^0-9\.]/.test(s)) return "￥0";
        s = '' + s + '';
        s = s.replace(/^(\d*)$/, "$1.");
        s = (s + "00").replace(/(\d*\.\d\d)\d*/, "$1");
        s = s.replace(".", ",");
        var re = /(\d)(\d{3},)/;
        while (re.test(s)) {
            s = s.replace(re, "$1,$2");
        }
        s = s.replace(/,(\d\d)$/, ".$1");
        return "￥"+s.replace(/^\./, "0.")  
    }
    
</script>
<script type="text/javascript">
    var tip = { $: function (ele) {
        if (typeof (ele) == "object")
            return ele;
        else if (typeof (ele) == "string" || typeof (ele) == "number")
            return document.getElementById(ele.toString());
        return null;
    },
        mousePos: function (e) {
            var x, y;
            var e = e || window.event;
            return { x: e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft, y: e.clientY + document.body.scrollTop + document.documentElement.scrollTop };
        },
        start: function (obj, code) {
            var self = this;
            var t = self.$("mjs:tip");
            obj.onmousemove = function (e) {
                var mouse = self.mousePos(e);
                var height = document.body.clientHeight;
                if (mouse.y > height / 2) {
                    t.style.left = mouse.x + 10 + 'px';
                    t.style.top = mouse.y + 10 - 250 + 'px';
                }
                else {
                    t.style.left = mouse.x + 10 + 'px';
                    t.style.top = mouse.y + 10 + 'px';
                }

                t.style.display = '';
                $.post('GetManagerInfo', { code: code }, function (result) {
                    if ((result.manager != null)) {
                        $("#gm").html(result.manager);
                        $("#projectmanager").html(result.manager);
                        $("#product").html(result.product);
                        $("#salemanager").html(result.tl);
                        $("#teamleader").html(result.tl);
                        $("#market").html(result.market);
                        $("#conference").html(result.conference);
                        $("#guoneisales").html(result.guoneisales);
                        $("#guowaisales").html(result.guowaisales);

                    } else {

                    }
                });
            }
            obj.onmouseout = function () {
                t.style.display = 'none';
            }
        }
    }
    var checkintip = { $: function (ele) {
        if (typeof (ele) == "object")
            return ele;
        else if (typeof (ele) == "string" || typeof (ele) == "number")
            return document.getElementById(ele.toString());
        return null;
    },
        mousePos: function (e) {
            var x, y;
            var e = e || window.event;
            return { x: e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft, y: e.clientY + document.body.scrollTop + document.documentElement.scrollTop };
        },
        start: function (obj,code, month) {
            var self = this;
            var t = self.$("mjs:checkininfo");
            obj.onmousemove = function (e) {
                var mouse = self.mousePos(e);
                var height = document.body.clientHeight;
                if (mouse.y > height / 2) {
                    t.style.left = mouse.x + 10 + 'px';
                    t.style.top = mouse.y + 10 - 150 + 'px';
                }
                else {
                    t.style.left = mouse.x + 10 + 'px';
                    t.style.top = mouse.y + 10 + 'px';
                }

                t.style.display = '';
                var year = $('#Year').val();
                $.post('GetCheckInInfo', { code: code, year: year, month: month }, function (result) {
                    $("#firstweek").html(outputMoney(result.firstweek));
                    $("#secondweek").html(outputMoney(result.secondweek));
                    $("#thridweek").html(outputMoney(result.thirdweek));
                    $("#forthweek").html(outputMoney(result.forthweek));
                    $("#fifthweek").html(outputMoney(result.fifthweek));
                });
            }
            obj.onmouseout = function () {
                t.style.display = 'none';
            }
        }
    } 
</script>