@{
    ViewBag.Title = "项目月进度表";
    Layout = "~/Views/DirectorReport/Master.cshtml";
}
@using Model
@using Utl;
@using BLL;
@{

   <fieldset>
   <legend>项目月进度表</legend>
   项目类型 @Html.DropDownList("ProjectType", SelectHelper.ProjectTypeSelectList(), "请选择", new { onchange = "onProjectTypeChange();" })
   板块负责人 @Html.DropDownList("Manager",CRM_Logical._Reports.GetProjectsManager(),"请选择", new { onchange = "onManagerChange();" })
@(Html.Telerik().Grid<AjaxProjectProcessByMonth>().Name("AjaxProjectProcessByMonth")
     .DataBinding(dataBinding =>
     {
         dataBinding.Ajax().Select("ProjectsProgressByMonth", "DirectorReport");
     })
        .ClientEvents(events => events.OnDataBinding("dataBinding").OnDataBound("OnDataBound").OnRowDataBound("onRowDataBound"))
    .Columns(columns =>
    {
        columns.Bound(p => p.ProjectUnitName).Width(150).Title("项目简称").HtmlAttributes(new { style = "text-align:left" });
        columns.Bound(p => p.ConferenceStartDate).Width(85).Title("会议时间").HtmlAttributes(new { style = "text-align:left" }).Format("{0:yyyy-MM-dd}");
        columns.Bound(p => p.LeftedDay).Title("所剩工作日").Width(70).HtmlAttributes(new { style = "text-align:right" });
        
        columns.Bound(p => p.TotalCheckInTarget).Title("PDM目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" }); 
        columns.Bound(p => p.TotalDealIn).Title("项目业绩").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.TotalCheckIn).Title("项目入账").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
        .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CurrentMonthDealInTarget).Title("本月业绩目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CurrentMonthDealIn).Title("本月业绩").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CurrentMonthDealInPercent).Title("完成率").Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}").FooterHtmlAttributes(new { style = "text-align:right" }); 

        columns.Bound(p => p.CurrentMonthCheckInTarget).Title("本月到账目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CurrentMonthCheckIn).Title("本月到账").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CheckInMonthPercent).Title("完成率").Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}").FooterHtmlAttributes(new { style = "text-align:right" });
    })
       
    .Pageable(p => p.Style(GridPagerStyles.Status)
                .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(480)).Resizable(r => r.Columns(true))
                )
</fieldset>    
  
}
<div id="mjs:tip" style="display:none;z-index:210000; position:absolute; background-color:#EFF7FE;" >
<table>
<tr><td>事业部总监</td><td><div id="gm"></div></td></tr>
<tr><td>项目经理</td><td><div id="projectmanager"></div></td></tr>
<tr><td>产品经理</td><td><div id="product"></div></td></tr>
<tr><td>销售经理</td><td><div id="salemanager"></div></td></tr>
<tr><td>TL</td><td><div id="teamleader"></div></td></tr>
<tr><td>赞助商销售</td><td></td></tr>
<tr><td>市场专员</td><td><div id="market"></div></td></tr>
<tr><td>会务专员</td><td><div id="conference"></div></td></tr>
<tr><td>海外销售</td><td><div id="guowaisales"></div></td></tr>
<tr><td>国内销售</td><td><div id="guoneisales"></div></td></tr>
</table>
</div>
<script type="text/javascript">
    var tip = { $: function (ele) {
        if (typeof (ele) == "object")
            return ele;
        else if (typeof (ele) == "string" || typeof (ele) == "number")
            return document.getElementById(ele.toString());
        return null;
    },
        mousePos: function (e) {
            var x, y;
            var e = e || window.event;
            return { x: e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft, y: e.clientY + document.body.scrollTop + document.documentElement.scrollTop };
        },
        start: function (obj,code) {
            var self = this;
            var t = self.$("mjs:tip");
            obj.onmousemove = function (e) {
                var mouse = self.mousePos(e);
                var height = document.body.clientHeight;
                if (mouse.y > height / 2) {
                    t.style.left = mouse.x + 10 + 'px';
                    t.style.top = mouse.y + 10 -250 + 'px';
                }
                else {
                    t.style.left = mouse.x + 10 + 'px';
                    t.style.top = mouse.y + 10 + 'px';
                }
                
                t.style.display = '';
                $.post('GetManagerInfo', { code: code }, function (result) {
                    if ((result.manager != null)) {
                        $("#gm").html(result.manager);
                        $("#projectmanager").html(result.manager);
                        $("#product").html(result.product);
                        $("#salemanager").html(result.tl);
                        $("#teamleader").html(result.tl);
                        $("#market").html(result.market);
                        $("#conference").html(result.conference);
                        $("#guoneisales").html(result.guoneisales);
                        $("#guowaisales").html(result.guowaisales);

                    } else {

                    }
                });
            }
            obj.onmouseout = function () {
                t.style.display = 'none';
            }
        }
    } 
</script>
<script>
    var clicked = false;
    
    function dataBinding(e) {
        if (clicked) {
            var typeid = $('#ProjectType').val();
            var manager = $('#Manager').val();
            e.data = $.extend(e.data, { typeid: typeid, manager: manager });
        }
        
        
    }
    function OnDataBound(e) {
        var CurrentMonthDealInTargetTotal = $('#AjaxProjectProcessByMonth').find('.t-footer-template').children().eq(6).text();
        //CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replaceall(',', '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/,/g, '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/￥/g, '');
        var CurrentMonthDealInTotal = $('#AjaxProjectProcessByMonth').find('.t-footer-template').children().eq(7).text();
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/,/g, '');
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/￥/g, '');
        if (CurrentMonthDealInTargetTotal > 0)
            $('#AjaxProjectProcessByMonth').find('.t-footer-template').children().eq(8).text((CurrentMonthDealInTotal / CurrentMonthDealInTargetTotal * 100).toFixed(0) + '%');

        var CurrentMonthDealInTargetTotal = $('#AjaxProjectProcessByMonth').find('.t-footer-template').children().eq(9).text();
        //CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replaceall(',', '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/,/g, '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/￥/g, '');
        var CurrentMonthDealInTotal = $('#AjaxProjectProcessByMonth').find('.t-footer-template').children().eq(10).text();
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/,/g, '');
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/￥/g, '');
        if (CurrentMonthDealInTargetTotal > 0)
            $('#AjaxProjectProcessByMonth').find('.t-footer-template').children().eq(11).text((CurrentMonthDealInTotal / CurrentMonthDealInTargetTotal * 100).toFixed(0) + '%');

    }
    function refreshGrid() {
        clicked = true;
        $("#AjaxProjectProcessByMonth").data("tGrid").rebind();

    }
    function onProjectTypeChange() {
       
        refreshGrid();
    }
    function onManagerChange() {
        refreshGrid();
    }
    
    function onRowDataBound(e) {
        var row = e.row;
        var dataItem = e.dataItem;
        var code = "'" + dataItem.ProjectUnitCode+"'"
        row.cells[0].innerHTML = "<div width='100%' onmouseover=tip.start(this," + code + ")>" + dataItem.ProjectUnitName + "</div>";
    }
</script>