@using Entity
@using Utl
@model List<Company>
@(Html.Telerik().Grid(Model).Name("Company")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.FullName).Width(150);
                    c.Bound(item => item.DistrictNumber.FullName).Width(120);
                    c.Bound(item => item.Available).Width(120);
                    c.Bound(item => item.Contact).Width(100);
                    c.Bound(item => item.Category.FullName).Title("行业").Width(100);
                    c.Bound(item => item.CompanyType.Name).Width(100);
                    c.Bound(item => item.Cerator).Width(70);
                    c.Bound(item => item.From).Width(70);
                    c.Bound(item => item.ID).Title("操作").Template(@<span>
                    <a href=@Url.Content("~/Company/Edit/" + item.ID) >编辑</a> | <a href=@Url.Content("~/Company/Details/" + item.ID)>详细</a>  | <a href=@Url.Content("~/Lead/Create/?from=company&CompanyId=" + item.ID)>添加客户</a>| <a href=@Url.Content("~/Company/delete/" + item.ID) >删除</a> 
                   </span>);
                })
                .DetailView(e => e.Template(
                        @<text>
                         @RenderGrid(item.Leads, item.ID)
                        </text>
                    ))
                .Resizable(resizing => resizing.Columns(true))
                .Groupable()
                .Pageable(p => p.PageSize(20))
                .Sortable()
                .Filterable()
                .Scrollable(scrolling => scrolling.Height(350))
                        )


@Html.ActionLink("公司创建", "Create")

@helper RenderGrid(List<Lead> Leads, int companyuid)
    { 
     @(Html.Telerik().Grid(Leads).Name("Leads" + companyuid)
                            .Columns(c =>
                            {

                                c.Template(@<text><img alt="photo"  style="width:80px;height:70px" src=@Url.Content("~/Image/DisplayImage/" + item.ImageID) /></text>).Title("客户照片").Width(150);
                                c.Bound(o => o.FullName).Width(150);
                                c.Bound(o => o.Title).Width(150);
                                c.Bound(o => o.EMail).Title("邮箱").Width(150);
                                c.Bound(o => o.Fax).Title("传真").Width(150);
                                c.Bound(o => o.Contact).Width(150);

                                c.Bound(item => item.ID).Title("操作").Template(@<span>
                    <a href=@Url.Content("~/lead/Edit/?from=company&id=" + item.ID) >编辑</a> | <a href=@Url.Content("~/lead/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/Company/delete/" + item.ID) >删除</a> | <a href=@Url.Content("~/CRM/Management/?leadid=" + item.ID) >关系管理</a> 
                   </span>);
                            })
                                               .Resizable(resizing => resizing.Columns(true))
                                               .Pageable(p => p.PageSize(20))
                                               .Sortable())
} 
