@model Entity.SalesType
@using Utl



<fieldset>
    <legend>@SR.Form</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
