@using Entity

@(Html.Telerik().Grid<Area>().ClientEvents(e => e.OnError("bindingError")).Name("Area").DataBinding(databinding => databinding.Ajax().Select("AjaxAreaIndex", "Area"))
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Name).Width(200);
                    c.Bound(item => item.Description).Width(300);
                    c.Bound(item => item.ID).Width(200).Title("操作").ClientTemplate("<a href='/Area/edit/" + "<#= ID #>'>编辑</a> | <a href='/Area/details/" + "<#= ID #>'>详细</a> | <a href='/Area/delete/" + "<#= ID #>'>删除</a>"); 
                 })
                .Resizable(resizing => resizing.Columns(true))
                .Filterable().Sortable().Groupable()
                .Pageable(p => p.PageSize(20))
                .Scrollable(scrolling => scrolling.Height(350))
              
)
@Html.ActionLink("行业类型创建", "Create")